Repository anonklub/anonklub: changes, and which lefthook commands are due for each by the changed paths.
All: lint-jtsx, lint-sol, lint-rs, typecheck

.lefthook.yml:

assert_lefthook_installed: true
output: [execution, failure, summary]
pre-commit:
  parallel: true
  commands:
    fmt:
      run: pnpm fmt
      stage_fixed: true
    lint-jtsx:
      glob: "**/*.{cjs,js,jsx,mjs,ts,tsx}"
      run: pnpm lint.biome
    lint-sol:
      glob: "**/*.sol"
      run: pnpm turbo lint.solhint
    lint-rs:
      glob: "**/*.{rs,toml}"
      run: pnpm turbo lint.cargo
      skip: true
    typecheck:
      glob: "**/*{ts,tsx}"
      run: pnpm tsc-files --noEmit {staged_files}

ci: fix installed rust toolchain
  .github/workflows/release.yml
Due: none

chore: update changeset config
  .changeset/config.json
  pkgs/halo2-eth-membership-worker/package.json
  pnpm-lock.yaml
Due: none

chore: add changeset
  .changeset/tame-jokes-tickle.md
Due: none

feat: create `@anonklub/halo2-binary-merkle-tree-worker` pkg
  pkgs/halo2-binary-merkle-tree-worker/README.md
  pkgs/halo2-binary-merkle-tree-worker/package.json
  pkgs/halo2-binary-merkle-tree-worker/src/index.ts
  pkgs/halo2-binary-merkle-tree-worker/src/interface.ts
  pkgs/halo2-binary-merkle-tree-worker/src/utils.ts
  pkgs/halo2-binary-merkle-tree-worker/src/worker.ts
  pkgs/halo2-binary-merkle-tree-worker/tsconfig.compile.json
  pkgs/halo2-binary-merkle-tree-worker/tsconfig.json
Due: lint-jtsx, typecheck

chore: update package.json
  pkgs/halo2-binary-merkle-tree-worker/package.json
Due: none

chore: bump `@anonklub/halo2-binary-merkle-tree`
  pkgs/halo2-binary-merkle-tree-worker/package.json
  pnpm-lock.yaml
Due: none

feat: create `@anonklub/halo2-binary-merkle-tree-worker` pkg (#498)
  .changeset/tame-jokes-tickle.md
  pkgs/halo2-binary-merkle-tree-worker/README.md
  pkgs/halo2-binary-merkle-tree-worker/package.json
  pkgs/halo2-binary-merkle-tree-worker/src/index.ts
  pkgs/halo2-binary-merkle-tree-worker/src/interface.ts
  pkgs/halo2-binary-merkle-tree-worker/src/utils.ts
  pkgs/halo2-binary-merkle-tree-worker/src/worker.ts
  pkgs/halo2-binary-merkle-tree-worker/tsconfig.compile.json
  pkgs/halo2-binary-merkle-tree-worker/tsconfig.json
  pnpm-lock.yaml
Due: lint-jtsx, typecheck

chore: delete `contracts`
  .dockerignore
  .dprint.jsonc
  .envrc.example
  .gitignore
  README.md
  contracts/.gitignore
  contracts/.solhint.json
  contracts/.solhintignore
  contracts/README.md
  contracts/package.json
  contracts/script/.gitkeep
  contracts/src/AnonMinter.sol
  contracts/src/Groth16Verifier.sol
  contracts/src/Verifier.sol
  contracts/test/AnonMinter.t.sol
  contracts/test/Verifier.t.sol
  discord-bot/README.md
  foundry.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  test/jest-preset.js
  turbo.json
Due: lint-jtsx, lint-sol

ci: remove forge/contracts related steps
  .github/workflows/main-staging.yml
Due: none

chore: remove `contracts` (#503)
  .dockerignore
  .dprint.jsonc
  .envrc.example
  .github/workflows/main-staging.yml
  .gitignore
  README.md
  contracts/.gitignore
  contracts/.solhint.json
  contracts/.solhintignore
  contracts/README.md
  contracts/package.json
  contracts/script/.gitkeep
  contracts/src/AnonMinter.sol
  contracts/src/Groth16Verifier.sol
  contracts/src/Verifier.sol
  contracts/test/AnonMinter.t.sol
  contracts/test/Verifier.t.sol
  discord-bot/README.md
  foundry.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  test/jest-preset.js
  turbo.json
Due: lint-jtsx, lint-sol

docs: update README
  README.md
Due: none

refactor `halo2-ecdsa`
  pkgs/halo2-ecdsa/src/circuits/efficient_ecdsa.rs
  pkgs/halo2-ecdsa/src/draft/mod.rs
  pkgs/halo2-ecdsa/src/gadget/mod.rs
  pkgs/halo2-ecdsa/src/utils/consts.rs
  pkgs/halo2-ecdsa/src/utils/recovery.rs
  pkgs/halo2-ecdsa/src/utils/verify.rs
Due: lint-rs

chore: add changeset
  .changeset/spotty-cows-buy.md
Due: none

refactor `halo2-eth-membership`
  pkgs/halo2-eth-membership/Cargo.toml
  pkgs/halo2-eth-membership/build.rs
  pkgs/halo2-eth-membership/mock/test_inputs_example.json
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/lib.rs
  pkgs/halo2-eth-membership/src/utils/circuit.rs
  pkgs/halo2-eth-membership/src/utils/consts.rs
  pkgs/halo2-eth-membership/src/utils/prove.rs
Due: lint-rs

refactor `halo2-wasm-ext`
  pkgs/halo2-wasm-ext/src/config.rs
Due: lint-rs

update changeset
  .changeset/spotty-cows-buy.md
Due: none

refactor `halo2-eth-membership` (#499)
  .changeset/spotty-cows-buy.md
  pkgs/halo2-ecdsa/src/circuits/efficient_ecdsa.rs
  pkgs/halo2-ecdsa/src/draft/mod.rs
  pkgs/halo2-ecdsa/src/gadget/mod.rs
  pkgs/halo2-ecdsa/src/utils/consts.rs
  pkgs/halo2-ecdsa/src/utils/recovery.rs
  pkgs/halo2-ecdsa/src/utils/verify.rs
  pkgs/halo2-eth-membership/Cargo.toml
  pkgs/halo2-eth-membership/build.rs
  pkgs/halo2-eth-membership/mock/test_inputs_example.json
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/lib.rs
  pkgs/halo2-eth-membership/src/utils/circuit.rs
  pkgs/halo2-eth-membership/src/utils/consts.rs
  pkgs/halo2-eth-membership/src/utils/prove.rs
  pkgs/halo2-wasm-ext/src/config.rs
Due: lint-rs

revert changes in `@anonklub/halo2-eth-membership-worker`
  pkgs/halo2-eth-membership-worker/CHANGELOG.md
  pkgs/halo2-eth-membership-worker/package.json
Due: none

chore: remove `sweep.yaml`
  sweep.yaml
Due: none

chore: remove `knip`
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

refactor: remove unnecessary `await`
  pkgs/halo2-binary-merkle-tree-worker/src/worker.ts
Due: lint-jtsx, typecheck

chore: add changeset
  .changeset/short-cups-invent.md
Due: none

refactor `halo2-eth-membership-worker`
  pkgs/halo2-eth-membership-worker/package.json
  pkgs/halo2-eth-membership-worker/src/index.ts
  pkgs/halo2-eth-membership-worker/src/interface.ts
  pkgs/halo2-eth-membership-worker/src/utils.ts
  pkgs/halo2-eth-membership-worker/src/worker.ts
Due: lint-jtsx, typecheck

chore: add changeset
  .changeset/many-zoos-sip.md
Due: none

chore: update package.json
  .changeset/config.json
Due: none

chore: bump `@anonklub/halo2-eth-membership`
  pkgs/halo2-eth-membership-worker/package.json
Due: none

chore: bump lockfile
  pnpm-lock.yaml
Due: none

chore: remove changeset
  .changeset/spotty-cows-buy.md
Due: none

refactor `halo2-eth-membership-worker` (#500)
  .changeset/config.json
  .changeset/many-zoos-sip.md
  pkgs/halo2-eth-membership-worker/package.json
  pkgs/halo2-eth-membership-worker/src/index.ts
  pkgs/halo2-eth-membership-worker/src/interface.ts
  pkgs/halo2-eth-membership-worker/src/utils.ts
  pkgs/halo2-eth-membership-worker/src/worker.ts
  pnpm-lock.yaml
Due: lint-jtsx, typecheck

ci: include `lint` and `typecheck` checks
  .github/workflows/main-staging.yml
Due: none

chore: trigger ci
  pkgs/halo2-binary-merkle-tree/src/lib.rs
  pkgs/halo2-eth-membership-worker/src/worker.ts
Due: lint-jtsx, lint-rs, typecheck

chore: update workflow file
  .github/workflows/main-staging.yml
Due: none

ci: include `lint` and `typecheck` checks (#510)
  .github/workflows/main-staging.yml
Due: none

fix(halo2-eth-membership-worker): downgrade `viem` to `^1`
  pkgs/halo2-eth-membership-worker/package.json
  pnpm-lock.yaml
Due: none

chore: add changeset
  .changeset/famous-rice-teach.md
Due: none

fix(halo2-eth-membership-worker): downgrade `viem` do `^1` (#509)
  .changeset/famous-rice-teach.md
  pkgs/halo2-eth-membership-worker/package.json
  pnpm-lock.yaml
Due: none
