Repository anonklub/anonklub: changes, and which lefthook commands are due for each by the changed paths.
All: lint-jtsx, lint-sol, lint-rs, typecheck

lint-jtsx:
  run: pnpm lint.biome

lint-sol:
  run: pnpm turbo lint.solhint

lint-rs:
  run: pnpm turbo lint.cargo
  skip: true

typecheck:
  run: pnpm tsc-files --noEmit {staged_files}

chore: remove uneeded deps/files
  discord-bot/package.json
  discord-bot/src/lib/abis/Groth16Verifier.json
  discord-bot/src/lib/abis/groth16Verifier.ts
  discord-bot/src/lib/config.ts
  discord-bot/src/lib/index.ts
  discord-bot/src/lib/types.ts
  discord-bot/src/lib/verify-onchain.ts
  discord-bot/src/lib/web3-client.ts
  package.json
Due: lint-jtsx, typecheck

chore: fix deps
  package.json
  pnpm-lock.yaml
  ui/package.json
Due: none

feat: use en vars for VERIFICATION_CHANNEL_ID and VERIFIED_ROLE_ID
  discord-bot/src/lib/config.ts
Due: lint-jtsx, typecheck

refactor: change formatting of messages sent by bot
  discord-bot/src/commands/VerifyCommand.ts
  discord-bot/src/events/MessageCreate.ts
Due: lint-jtsx, typecheck

chore: remove unused deps
  discord-bot/package.json
  pnpm-lock.yaml
  ui/package.json
Due: none

feat: verify spartan proof with discord bot
  .gitignore
  discord-bot/README.md
  discord-bot/src/commands/VerifyCommand.ts
  discord-bot/src/events/MessageCreate.ts
  discord-bot/src/lib/config.ts
  ui/src/app/api/verify/route.ts
  ui/src/app/prove/result/page.tsx
  ui/src/app/verify/page.tsx
  ui/src/app/verify/result/page.tsx
  ui/src/lib/config.ts
Due: lint-jtsx, typecheck

fix: bump @types/node
  discord-bot/src/events/MessageCreate.ts
  package.json
  pnpm-lock.yaml
Due: lint-jtsx, typecheck

chore: update comment
  discord-bot/src/events/MessageCreate.ts
Due: lint-jtsx, typecheck

ci: remove debug step
  .github/workflows/main-staging.yml
Due: none

docs: update .env.example
  .env.example
Due: none

docs: update discord/bot/README
  discord-bot/README.md
Due: none

refactor: update error message if missing env var
  ui/src/lib/config.ts
Due: lint-jtsx, typecheck

ci: swallow error if no coverage file found
  .github/workflows/main-staging.yml
Due: none

ci: remove debug step in coverage job
  .github/workflows/main-staging.yml
Due: none

chore(ui): fix circular deps
  package.json
  pnpm-lock.yaml
  ui/next.config.mjs
  ui/src/components/AnonSetResults.tsx
  ui/src/components/FileInput.tsx
  ui/src/components/Footer.tsx
  ui/src/components/Header.tsx
  ui/src/components/HelpModal.tsx
  ui/src/components/Layout.tsx
  ui/src/components/SubmitProofRequest.tsx
  ui/src/components/WarningModal.tsx
  ui/src/hooks/useFile.ts
  ui/src/hooks/useHelp.ts
  ui/src/hooks/useMerkleTreeWorker.ts
  ui/src/hooks/useProofRequest.ts
  ui/src/hooks/useProofResult.ts
  ui/src/hooks/useResetAnonSet.ts
  ui/src/hooks/useResetProofRequest.ts
  ui/src/hooks/useSetHelp.ts
  ui/src/hooks/useSpartanEcdsaWorker.ts
  ui/src/hooks/useVerifyProof.ts
Due: lint-jtsx, typecheck

chore(query-api): fix circular deps
  query-api/src/dto/get-ens-voters.dto.ts
Due: lint-jtsx, typecheck

chore: remove `madge` dev dep
  package.json
  pnpm-lock.yaml
Due: none

chore(discord-bot): fix circular deps
  discord-bot/package.json
  discord-bot/src/Client/index.ts
  discord-bot/src/Client/interface.ts
  discord-bot/src/DiscordClient.ts
  discord-bot/src/commands/VerifyCommand.ts
  discord-bot/src/commands/_Command.ts
  discord-bot/src/events/ClientReady.ts
  discord-bot/src/events/Debug.ts
  discord-bot/src/events/Error.ts
  discord-bot/src/events/Events.ts
  discord-bot/src/events/MessageCreate.ts
  discord-bot/src/events/_Event.ts
  discord-bot/src/events/index.ts
  discord-bot/src/index.ts
  discord-bot/src/lib/config.ts
  discord-bot/src/lib/decorators/inVerificationChannel.ts
  discord-bot/src/lib/decorators/isMatchingCommand.ts
  discord-bot/src/lib/decorators/tryCatch.ts
  discord-bot/src/lib/decorators/tryCatchReply.ts
  discord-bot/src/lib/verify-onchain.ts
  discord-bot/tsconfig.json
Due: lint-jtsx, typecheck

chore: revert change in next config
  ui/next.config.mjs
Due: lint-jtsx

feat(discord-bot): integrate with spartan-ecdsa (#462)
  .env.example
  .gitignore
  discord-bot/README.md
  discord-bot/package.json
  discord-bot/src/commands/VerifyCommand.ts
  discord-bot/src/events/MessageCreate.ts
  discord-bot/src/lib/abis/Groth16Verifier.json
  discord-bot/src/lib/abis/groth16Verifier.ts
  discord-bot/src/lib/config.ts
  discord-bot/src/lib/index.ts
  discord-bot/src/lib/types.ts
  discord-bot/src/lib/verify-onchain.ts
  discord-bot/src/lib/web3-client.ts
  package.json
  pnpm-lock.yaml
  ui/package.json
  ui/src/app/api/verify/route.ts
  ui/src/app/prove/result/page.tsx
  ui/src/app/verify/page.tsx
  ui/src/app/verify/result/page.tsx
  ui/src/lib/config.ts
Due: lint-jtsx, typecheck

fix: link wasm files to `server/static`
  ui/package.json
Due: none

ci: link wasm files to `.next/server/static` in Dockerfile
  ui/Dockerfile
  ui/package.json
Due: none

chore: debug
  discord-bot/src/events/MessageCreate.ts
Due: lint-jtsx, typecheck

refactor: use verifier object to load wasm async
  ui/src/app/api/verify/route.ts
  ui/src/lib/index.ts
  ui/src/lib/verifier.ts
Due: lint-jtsx, typecheck

fix(ui): do not pre render /api/verify route
  ui/src/app/api/verify/route.ts
Due: lint-jtsx, typecheck

fix(ui): set CORS headers
  ui/next.config.mjs
Due: lint-jtsx

refactor: add info logs
  discord-bot/src/commands/VerifyCommand.ts
  discord-bot/src/events/MessageCreate.ts
  discord-bot/src/index.ts
Due: lint-jtsx, typecheck

ci: refactor Dockerfile and fly toml
  package.json
  ui/Dockerfile
  ui/fly-staging.toml
  ui/package.json
Due: lint-rs

fix: remove remaining merge hints
  discord-bot/src/events/MessageCreate.ts
Due: lint-jtsx, typecheck

refactor: add info logs
  discord-bot/src/commands/VerifyCommand.ts
  discord-bot/src/index.ts
  discord-bot/tsconfig.json
Due: lint-jtsx, typecheck

wip
  .env.example
  discord-bot/src/commands/VerifyCommand.ts
  discord-bot/src/events/MessageCreate.ts
  discord-bot/src/index.ts
  discord-bot/src/lib/config.ts
  discord-bot/tsconfig.json
  ui/next.config.mjs
  ui/src/lib/config.ts
  ui/src/middleware.ts
Due: lint-jtsx, typecheck

fix import
  ui/src/middleware.ts
Due: lint-jtsx, typecheck

feat: restrict verification request to discord bot origin (#466)
  .env.example
  discord-bot/src/events/MessageCreate.ts
  discord-bot/src/lib/config.ts
  ui/next.config.mjs
  ui/src/lib/config.ts
  ui/src/middleware.ts
Due: lint-jtsx, typecheck

refactor(ui): set build args in Dockerfile
  package.json
  ui/Dockerfile
  ui/fly-prod.toml
  ui/fly-staging.toml
Due: lint-rs

chore(query-api): add build-target to fly config
  query-api/fly-prod.toml
  query-api/fly-staging.toml
Due: lint-rs

chore(discord-bot): set public env vars in fly config
  discord-bot/Dockerfile
  discord-bot/fly-prod.toml
  discord-bot/fly-staging.toml
Due: lint-rs

chore: set env var/build args in Dockerfile
  ui/Dockerfile
  ui/fly-prod.toml
  ui/fly-staging.toml
Due: lint-rs

fix verification/verified role ids
  discord-bot/fly-prod.toml
Due: lint-rs

refactor: remove wallet connect id from fly config
  ui/fly-staging.toml
Due: lint-rs

Path conditions:
  lint-jtsx: any of: **/*.{cjs,js,jsx,mjs,ts,tsx}
  lint-sol: any of: **/*.sol
  lint-rs: any of: **/*.{rs,toml}
  typecheck: any of: **/*{ts,tsx}
