Repository anonklub/anonklub: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

refactor: ignore benchmark results files
  .gitignore
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_11_291_53_1_10_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_12_139_24_1_11_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_13_68_12_1_12_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_14_34_6_1_13_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_15_17_3_1_14_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_16_8_2_1_15_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_17_4_1_1_16_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_18_2_1_1_17_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_19_1_1_1_18_1.data
  pkgs/halo2-eth-membership/configs/results/eff_ecdsa_bench.csv
  pkgs/halo2-eth-membership/configs/results/output.png
  pkgs/halo2-eth-membership/src/eth_membership.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: add changeset
  .changeset/short-cows-shake.md
Due: none

chore: add changeset
  .changeset/afraid-carrots-exist.md
Due: none

Delete .changeset/short-cows-shake.md
  .changeset/short-cows-shake.md
Due: none

chore: benchmark `halo2-eth-membership` (#521)
  .changeset/afraid-carrots-exist.md
  .gitignore
  Cargo.lock
  README.md
  pkgs/halo2-eth-membership/Cargo.toml
  pkgs/halo2-eth-membership/build.rs
  pkgs/halo2-eth-membership/configs/benchmark.cfg
  pkgs/halo2-eth-membership/configs/benchmark_plot.png
  pkgs/halo2-eth-membership/configs/eth_membership.cfg
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-wasm-ext/src/ext.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: revert `@anonklub/halo2-eth-membership-worker` version bunp
  pkgs/halo2-eth-membership-worker/CHANGELOG.md
  pkgs/halo2-eth-membership-worker/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

refactor: switch from `next/legacy/image` to `next/image`
  ui/src/components/CheckMark.tsx
  ui/src/components/Footer.tsx
  ui/src/components/Header.tsx
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

feat: benchmarking halo2-eth-membership
  pkgs/halo2-eth-membership/configs/benchmark.config
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_11_291_53_1_10_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_12_139_24_1_11_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_13_68_12_1_12_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_14_34_6_1_13_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_15_17_3_1_14_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_16_8_2_1_15_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_17_4_1_1_16_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_18_2_1_1_17_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_19_1_1_1_18_1.data
  pkgs/halo2-eth-membership/configs/results/eff_ecdsa_bench.csv
  pkgs/halo2-eth-membership/src/eth_membership.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

feat: adding a benchmark plot
  pkgs/halo2-eth-membership/configs/results/output.png
Due: none

refactor: ignore benchmark results files
  copy
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_11_291_53_1_10_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_12_139_24_1_11_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_13_68_12_1_12_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_14_34_6_1_13_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_15_17_3_1_14_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_16_8_2_1_15_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_17_4_1_1_16_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_18_2_1_1_17_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_19_1_1_1_18_1.data
  pkgs/halo2-eth-membership/configs/results/eff_ecdsa_bench.csv
  pkgs/halo2-eth-membership/configs/results/output.png
Due: none

refactor: rename config extension to .cfg and update README with benchmark
  pkgs/halo2-eth-membership/configs/benchmark.config
Due: none

chore: add changeset
  .changeset/honest-baboons-relate.md
Due: none

refactor: change k to be 14 based on the benchmarks
  pkgs/halo2-eth-membership-worker/package.json
  pkgs/halo2-eth-membership-worker/src/worker.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

Delete .changeset/afraid-carrots-exist.md
  .changeset/afraid-carrots-exist.md
Due: none

refactor: fix conflict
  pkgs/halo2-eth-membership/src/eth_membership.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: change element from `a` to `button`
  ui/src/components/FileInput.tsx
  ui/src/components/SubmitProofRequest.tsx
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

refactor(ui): do not use type `any` in `ExternalLink` props
  ui/src/components/ExternalLink.tsx
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

fix(ui): address non exhaustive hook deps warnings
  .biome.jsonc
  ui/src/hooks/useGoBackOnClickOutside.ts
  ui/src/hooks/useProofRequest.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore(ui): lint (#525)
  .biome.jsonc
  ui/src/components/CheckMark.tsx
  ui/src/components/ExternalLink.tsx
  ui/src/components/FileInput.tsx
  ui/src/components/Footer.tsx
  ui/src/components/Header.tsx
  ui/src/components/SubmitProofRequest.tsx
  ui/src/hooks/useGoBackOnClickOutside.ts
  ui/src/hooks/useProofRequest.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore: lint
  .biome.jsonc
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

(refactor) Update K for KZG params in Halo2 web-worker (#524)
  .changeset/honest-baboons-relate.md
  copy
  pkgs/halo2-eth-membership-worker/package.json
  pkgs/halo2-eth-membership-worker/src/worker.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

refactor: remove unncessary `await`
  pkgs/halo2-eth-membership-worker/src/worker.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

refactor: simplify type
  pkgs/halo2-eth-membership-worker/src/interface.ts
  pkgs/halo2-eth-membership-worker/src/worker.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore: remove unncessary `eslint-ignore` directive
  pkgs/halo2-eth-membership-worker/src/worker.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

refactor: use `K` constant
  pkgs/halo2-eth-membership-worker/src/worker.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore: ellude implicit types
  pkgs/halo2-eth-membership-worker/src/worker.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore: add changeset
  .changeset/lovely-knives-approve.md
Due: none

refactor(halo2-eth-mship-worker): simplify verify fn signature (#527)
  .changeset/lovely-knives-approve.md
  pkgs/halo2-eth-membership-worker/src/interface.ts
  pkgs/halo2-eth-membership-worker/src/worker.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

refactor: update ui with latest halo2-eth-membership-worker version
  .changeset/afraid-carrots-exist.md
  .changeset/honest-baboons-relate.md
  .changeset/short-cows-shake.md
  pnpm-lock.yaml
  ui/package.json
  ui/src/hooks/useHalo2EthMembershipWorker.ts
  ui/src/hooks/useVerifyProof.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

fix: delete uneeded changeset files
  .changeset/afraid-carrots-exist.md
  .changeset/honest-baboons-relate.md
  .changeset/short-cows-shake.md
Due: none

refactor: react hook for verify proof with the latest worker changes
  ui/src/hooks/useHalo2EthMembershipWorker.ts
  ui/src/hooks/useVerifyProof.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

feat(ui): verify halo2 proofs (#529)
  pnpm-lock.yaml
  ui/package.json
  ui/src/hooks/useHalo2EthMembershipWorker.ts
  ui/src/hooks/useVerifyProof.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

docs: update list of pkgs in main README
  README.md
Due: none

docs: update list of pkgs in main README (#530)
  README.md
Due: none

Path conditions:
  pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched: any of: **/*.{json,jsonc,js,jsx,rs,ts,tsx}
  pnpm fmt: any of: **/*.{json,jsonc,js,jsx,rs,ts,tsx}
  tsc-files --noEmit: any of: **/*.{ts,tsx}
