Repository anonklub/anonklub: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm biome lint --apply, pnpm biome format --write, rustfmt, tsc-files --noEmit

.lintstagedrc.json:

{
	"**/*.{json,jsonc,js,jsx,ts,tsx}": [
		"pnpm biome lint --apply",
		"pnpm biome format --write"
	],
	"**/*.rs": "rustfmt",
	"**/*.{ts,tsx}": "tsc-files --noEmit"
}

fix: instantiate JsonFileInput with Proof.ANONSET
  ui/src/components/JsonFileInput.tsx
Due: pnpm biome lint --apply, pnpm biome format --write, tsc-files --noEmit

fix: call function returned by higher order function `useFile` hook
  ui/src/components/FileInput.tsx
Due: pnpm biome lint --apply, pnpm biome format --write, tsc-files --noEmit

refactor: extract ellipsify, download/copy file to utils and hooks
  ui/src/app/prove/result/page.tsx
  ui/src/hooks/index.ts
  ui/src/hooks/useCopyToClipboard.ts
  ui/src/lib/ellipsify.ts
  ui/src/lib/index.ts
Due: pnpm biome lint --apply, pnpm biome format --write, tsc-files --noEmit

chore: download proof as binary file
  ui/src/app/prove/result/page.tsx
Due: pnpm biome lint --apply, pnpm biome format --write, tsc-files --noEmit

fix: upload proof as binary file
  ui/src/app/verify/page.tsx
  ui/src/app/verify/result/page.tsx
  ui/src/components/FileInput.tsx
  ui/src/components/ProofTxtFileInput.tsx
Due: pnpm biome lint --apply, pnpm biome format --write, tsc-files --noEmit

chore: lint
  ui/src/app/verify/page.tsx
  ui/src/components/AnonSetResults.tsx
  ui/src/components/ScrollableJsonContainer.tsx
  ui/src/hooks/useFile.ts
Due: pnpm biome lint --apply, pnpm biome format --write, tsc-files --noEmit

refactor: rename `FileType` to `File`, `ProofTxt` to `ProofBin`
  ui/src/components/FileInput.tsx
  ui/src/components/ProofBinFileInput.tsx
  ui/src/components/ProofTxtFileInput.tsx
  ui/src/components/index.ts
  ui/src/hooks/useFile.ts
  ui/src/lib/read-file.ts
  ui/src/lib/types.ts
Due: pnpm biome lint --apply, pnpm biome format --write, tsc-files --noEmit

fix(ui): verify anonklub proofs (#429)
  ui/src/app/prove/prepare/from-file/page.tsx
  ui/src/app/prove/result/page.tsx
  ui/src/app/verify/page.tsx
  ui/src/app/verify/result/page.tsx
  ui/src/components/AnonSetResults.tsx
  ui/src/components/FileInput.tsx
  ui/src/components/HelpModal.tsx
  ui/src/components/ProofBinFileInput.tsx
  ui/src/components/ScrollableJsonContainer.tsx
  ui/src/components/index.ts
  ui/src/hooks/index.ts
  ui/src/hooks/useCopyToClipboard.ts
  ui/src/hooks/useFile.ts
  ui/src/hooks/useHelp.ts
  ui/src/hooks/useJsonFile.ts
  ui/src/hooks/useMerkleTreeWorker.ts
  ui/src/hooks/useProofRequest.ts
  ui/src/hooks/useProofResult.ts
  ui/src/hooks/useResetAnonSet.ts
  ui/src/hooks/useResetProofRequest.ts
  ui/src/hooks/useSetHelp.ts
  ui/src/hooks/useSpartanEcdsaWorker.ts
  ui/src/hooks/useVerifyProof.ts
  ui/src/lib/ellipsify.ts
  ui/src/lib/index.ts
  ui/src/lib/parse.ts
  ui/src/lib/read-file.ts
  ui/src/lib/read-json-file.ts
  ui/src/lib/types.ts
  ui/tsconfig.json
Due: pnpm biome lint --apply, pnpm biome format --write, tsc-files --noEmit

fix(ui): verify anonklub proofs (#429) (#430)
  ui/src/app/prove/prepare/from-file/page.tsx
  ui/src/app/prove/result/page.tsx
  ui/src/app/verify/page.tsx
  ui/src/app/verify/result/page.tsx
  ui/src/components/AnonSetResults.tsx
  ui/src/components/FileInput.tsx
  ui/src/components/HelpModal.tsx
  ui/src/components/ProofBinFileInput.tsx
  ui/src/components/ScrollableJsonContainer.tsx
  ui/src/components/index.ts
  ui/src/hooks/index.ts
  ui/src/hooks/useCopyToClipboard.ts
  ui/src/hooks/useFile.ts
  ui/src/hooks/useHelp.ts
  ui/src/hooks/useJsonFile.ts
  ui/src/hooks/useMerkleTreeWorker.ts
  ui/src/hooks/useProofRequest.ts
  ui/src/hooks/useProofResult.ts
  ui/src/hooks/useResetAnonSet.ts
  ui/src/hooks/useResetProofRequest.ts
  ui/src/hooks/useSetHelp.ts
  ui/src/hooks/useSpartanEcdsaWorker.ts
  ui/src/hooks/useVerifyProof.ts
  ui/src/lib/ellipsify.ts
  ui/src/lib/index.ts
  ui/src/lib/parse.ts
  ui/src/lib/read-file.ts
  ui/src/lib/read-json-file.ts
  ui/src/lib/types.ts
  ui/tsconfig.json
Due: pnpm biome lint --apply, pnpm biome format --write, tsc-files --noEmit

chore: add `rustfmt.toml`
  rustfmt.toml
Due: none

feat(cli): verify anonklub proofs
  Cargo.lock
  pkgs/cli/Cargo.toml
  pkgs/cli/bin/main.rs
  pkgs/cli/bin/opts.rs
  pkgs/spartan-ecdsa-wasm/Cargo.toml
  pkgs/spartan-ecdsa-wasm/src/lib.rs
Due: rustfmt

chore: add anonklub-proof.bin test file
  pkgs/spartan-ecdsa-wasm/anonklub-proof.bin
Due: none

feat: halo2lib secp256k1 ecdsa circuit
  .github/workflows/test-coverage.yaml
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  pkgs/circuits/halo2-secp256k1-wasm/Cargo.toml
  pkgs/circuits/halo2-secp256k1-wasm/README.md
  pkgs/circuits/halo2-secp256k1-wasm/configs/secp256k1_ecdsa_circuit.config
  pkgs/circuits/halo2-secp256k1-wasm/rust-toolchain
  pkgs/circuits/halo2-secp256k1-wasm/src/draft/mod.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/lib.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/secp256k1_ecdsa.rs
  pkgs/circuits/halo2wrong-ecdsa/Cargo.toml
  pkgs/cli/Cargo.toml
Due: rustfmt

feat(halo2): implement ecdsa signature verification (#419)
  .github/workflows/test-coverage.yaml
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  pkgs/circuits/halo2-secp256k1-wasm/Cargo.toml
  pkgs/circuits/halo2-secp256k1-wasm/README.md
  pkgs/circuits/halo2-secp256k1-wasm/configs/secp256k1_ecdsa_circuit.config
  pkgs/circuits/halo2-secp256k1-wasm/rust-toolchain
  pkgs/circuits/halo2-secp256k1-wasm/src/draft/mod.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/lib.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/secp256k1_ecdsa.rs
  pkgs/circuits/halo2wrong-ecdsa/Cargo.toml
  pkgs/cli/Cargo.toml
Due: rustfmt

feat: halo2lib secp256k1 recover pk
  .gitignore
  Cargo.lock
  pkgs/circuits/halo2-secp256k1-wasm/Cargo.toml
  pkgs/circuits/halo2-secp256k1-wasm/package.json
  pkgs/circuits/halo2-secp256k1-wasm/src/draft/mod.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/lib.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/recovery.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/utils.rs
  pkgs/spartan-ecdsa-wasm/src/utils.rs
Due: pnpm biome lint --apply, pnpm biome format --write, rustfmt

chore: update `.tool-versions`
  .tool-versions
Due: none

chore: allow unused type param for `ecc_chip`
  pkgs/circuits/halo2-secp256k1-wasm/src/secp256k1_ecdsa.rs
Due: rustfmt

chore: allow unused type param for `ecc_chip` (#433)
  pkgs/circuits/halo2-secp256k1-wasm/src/secp256k1_ecdsa.rs
Due: rustfmt

fix: resolve cargo clippy wans
  pkgs/circuits/halo2-secp256k1-wasm/src/draft/mod.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/recovery.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/utils.rs
Due: rustfmt

feat(halo2): recover pubkey "efficiently" (#432)
  .gitignore
  Cargo.lock
  pkgs/circuits/halo2-secp256k1-wasm/Cargo.toml
  pkgs/circuits/halo2-secp256k1-wasm/package.json
  pkgs/circuits/halo2-secp256k1-wasm/src/lib.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/recovery.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/utils.rs
  pkgs/spartan-ecdsa-wasm/src/utils.rs
Due: pnpm biome lint --apply, pnpm biome format --write, rustfmt

feat: recovery pk and check ec point equality
  pkgs/circuits/halo2-secp256k1-wasm/src/ecdsa.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/eff_ecdsa.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/lib.rs
Due: rustfmt

fix: cont. fixing genaric type issues
  pkgs/circuits/halo2-secp256k1-wasm/src/ecdsa.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/eff_ecdsa.rs
Due: rustfmt

fix rust compilation
  pkgs/circuits/halo2-secp256k1-wasm/src/eff_ecdsa.rs
Due: rustfmt

refactor
  pkgs/circuits/halo2-secp256k1-wasm/src/eff_ecdsa.rs
Due: rustfmt

feat: prove the recovered_pk equals to actual_pk
  pkgs/circuits/halo2-secp256k1-wasm/rust-toolchain
  pkgs/circuits/halo2-secp256k1-wasm/src/ecdsa.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/eff_ecdsa.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/lib.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/recovery.rs
Due: rustfmt

fix: using anyhow for error handling and resolving warns
  pkgs/circuits/halo2-secp256k1-wasm/src/eff_ecdsa.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/recovery.rs
Due: rustfmt

fix: styling the imports
  pkgs/circuits/halo2-secp256k1-wasm/src/ecdsa.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/eff_ecdsa.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/recovery.rs
Due: rustfmt

fix: remove unneeded println
  pkgs/circuits/halo2-secp256k1-wasm/src/ecdsa.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/eff_ecdsa.rs
Due: rustfmt

feat: implementing a wasm wrapper for the halo2 circuit
  pkgs/circuits/halo2-secp256k1-wasm/src/ecdsa.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/eff_ecdsa.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/lib.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/wasm.rs
Due: rustfmt

feat: add anonklub proof struct
  pkgs/circuits/halo2-secp256k1-wasm/src/wasm.rs
Due: rustfmt

feat(halo2): implement efficient pubkey recovery (#435)
  pkgs/circuits/halo2-secp256k1-wasm/rust-toolchain
  pkgs/circuits/halo2-secp256k1-wasm/src/ecdsa.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/eff_ecdsa.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/lib.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/recovery.rs
Due: rustfmt

feat: converting eff_ecdsa into a genaric version
  pkgs/circuits/halo2-secp256k1-wasm/src/eff_ecdsa.rs
Due: rustfmt

feat: wip initializing T and U as public inputs
  pkgs/circuits/halo2-secp256k1-wasm/src/eff_ecdsa.rs
Due: rustfmt

feat: wip wasm part
  pkgs/circuits/halo2-secp256k1-wasm/src/lib.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/wasm.rs
Due: rustfmt

feat: set T and U as public inputs
  Cargo.lock
  pkgs/circuits/halo2-secp256k1-wasm/Cargo.toml
  pkgs/circuits/halo2-secp256k1-wasm/configs/secp256k1_ecdsa_circuit.config
  pkgs/circuits/halo2-secp256k1-wasm/src/eff_ecdsa.rs
Due: rustfmt

feat: get T and U as public instanaces with F encoding
  pkgs/circuits/halo2-secp256k1-wasm/configs/ecdsa.config
  pkgs/circuits/halo2-secp256k1-wasm/src/ecdsa.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/eff_ecdsa.rs
Due: rustfmt

feat: wip wasm lib
  pkgs/circuits/halo2-secp256k1-wasm/src/consts.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/eff_ecdsa.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/lib.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/recovery.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/utils.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/wasm.rs
Due: rustfmt

feat: impl wasm crate for integrating with the browser
  pkgs/circuits/halo2-secp256k1-wasm/src/consts.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/eff_ecdsa.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/recovery.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/utils.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/wasm.rs
Due: rustfmt

feat: return bool in verify
  pkgs/circuits/halo2-secp256k1-wasm/src/wasm.rs
Due: rustfmt

feat: overriding verify in halo2_wasm
  Cargo.lock
  pkgs/circuits/halo2-secp256k1-wasm/Cargo.toml
  pkgs/circuits/halo2-secp256k1-wasm/src/consts.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/eff_ecdsa.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/halo2_ext.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/lib.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/utils.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/wasm.rs
  pkgs/cli/Cargo.toml
Due: rustfmt
