Repository anonklub/anonklub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .prettierignore, eslint

.lintstagedrc.json:

{
  "**/*.{css,less,scss,html,graphql,json,js,jsx,md,ts,tsx,yml,yaml}": [
    "prettier --write --ignore-path .prettierignore"
  ],
  "**/*.{js,jsx,ts,tsx}": ["eslint"]
}

feat: adding halo2 axiom scaffold
  Cargo.lock
  Cargo.toml
  pkgs/circuits/halo2/Cargo.toml
  pkgs/circuits/halo2/README.md
  pkgs/circuits/halo2/data/fixed_len_keccak-1.in
  pkgs/circuits/halo2/data/fixed_len_keccak.in
  pkgs/circuits/halo2/data/halo2_lib.0.in
  pkgs/circuits/halo2/data/halo2_lib.in
  pkgs/circuits/halo2/data/poseidon.in
  pkgs/circuits/halo2/data/range.in
  pkgs/circuits/halo2/data/var_len_keccak.1.in
  pkgs/circuits/halo2/data/var_len_keccak.in
  pkgs/circuits/halo2/examples/builder.rs
  pkgs/circuits/halo2/examples/halo2_lib.rs
  pkgs/circuits/halo2/examples/poseidon.rs
  pkgs/circuits/halo2/examples/range.rs
  pkgs/circuits/halo2/rust-toolchain
  pkgs/circuits/halo2/rustfmt.toml
  pkgs/circuits/halo2/src/lib.rs
  pkgs/circuits/halo2/src/scaffold/cmd.rs
  pkgs/circuits/halo2/src/scaffold/mod.rs
  pkgs/circuits/halo2/src/vanilla_circuits/is_zero.rs
  pkgs/circuits/halo2/src/vanilla_circuits/mod.rs
  pkgs/circuits/halo2/src/vanilla_circuits/or.rs
  pkgs/circuits/halo2/src/vanilla_circuits/standard_plonk.rs
Due: prettier --write --ignore-path .prettierignore

feat: starting on ecdsa
  pkgs/cli/tests/fixtures/erc20.json
Due: prettier --write --ignore-path .prettierignore

feat: starting on ecdsa
  Cargo.lock
  pkgs/circuits/halo2/Cargo.toml
  pkgs/circuits/halo2/src/ecc/ecdsa.rs
  pkgs/circuits/halo2/src/ecc/mod.rs
Due: none

feat: starting on ecdsa cont.
  Cargo.lock
  pkgs/circuits/halo2/Cargo.toml
  pkgs/circuits/halo2/src/ecc/ecdsa.rs
  pkgs/circuits/halo2/src/ecc/mod.rs
  pkgs/circuits/halo2/src/ecdsa/ecdsa.rs
  pkgs/circuits/halo2/src/ecdsa/mod.rs
  pkgs/circuits/halo2/src/lib.rs
Due: none

feat: adding halo2wrong ecdsa verison circuit wip
  Cargo.lock
  Cargo.toml
  pkgs/circuits/halo2-ecdsa/Cargo.toml
  pkgs/circuits/halo2-ecdsa/src/circuit.rs
  pkgs/circuits/halo2-ecdsa/src/ecdsa.rs
  pkgs/circuits/halo2-ecdsa/src/lib.rs
  pkgs/circuits/halo2/Cargo.toml
  pkgs/circuits/halo2/README.md
  pkgs/circuits/halo2/data/fixed_len_keccak-1.in
  pkgs/circuits/halo2/data/fixed_len_keccak.in
  pkgs/circuits/halo2/data/halo2_lib.0.in
  pkgs/circuits/halo2/data/halo2_lib.in
  pkgs/circuits/halo2/data/poseidon.in
  pkgs/circuits/halo2/data/range.in
  pkgs/circuits/halo2/data/var_len_keccak.1.in
  pkgs/circuits/halo2/data/var_len_keccak.in
  pkgs/circuits/halo2/examples/builder.rs
  pkgs/circuits/halo2/examples/halo2_lib.rs
  pkgs/circuits/halo2/examples/poseidon.rs
  pkgs/circuits/halo2/examples/range.rs
  pkgs/circuits/halo2/rust-toolchain
  pkgs/circuits/halo2/rustfmt.toml
  pkgs/circuits/halo2/src/ecdsa/ecdsa.rs
  pkgs/circuits/halo2/src/ecdsa/mod.rs
  pkgs/circuits/halo2/src/lib.rs
  pkgs/circuits/halo2/src/scaffold/cmd.rs
  pkgs/circuits/halo2/src/scaffold/mod.rs
  pkgs/circuits/halo2/src/vanilla_circuits/is_zero.rs
  pkgs/circuits/halo2/src/vanilla_circuits/mod.rs
  pkgs/circuits/halo2/src/vanilla_circuits/or.rs
  pkgs/circuits/halo2/src/vanilla_circuits/standard_plonk.rs
Due: prettier --write --ignore-path .prettierignore

fix: remove testing json set
  pkgs/cli/tests/fixtures/erc20.json
Due: prettier --write --ignore-path .prettierignore

test: wriing a failed test for testing ECDSA chip verification
  Cargo.lock
  Cargo.toml
  pkgs/circuits/halo2-ecdsa/Cargo.toml
  pkgs/circuits/halo2-ecdsa/README.md
  pkgs/circuits/halo2-ecdsa/src/circuit.rs
  pkgs/circuits/halo2-ecdsa/src/ecdsa.rs
Due: prettier --write --ignore-path .prettierignore

fix: clippy warnings fixings
  pkgs/circuits/halo2-ecdsa/src/circuit.rs
  pkgs/circuits/halo2-ecdsa/src/ecdsa.rs
Due: none

feat: adding CI github actions for test coverage
  .github/workflows/coverage.yaml
  package.json
Due: prettier --write --ignore-path .prettierignore

fix: lint issues
  pkgs/merkle-tree-wasm/src/lib.rs
  pnpm-lock.yaml
Due: prettier --write --ignore-path .prettierignore

feat: adding inatalltion readme
  README.md
Due: prettier --write --ignore-path .prettierignore

fix: lint issues
  ui/src/components/SubmitProofRequest.tsx
  ui/src/hooks/useGoBackOnClickOutside.ts
  ui/src/hooks/useMerkleTreeWorker.ts
  ui/src/hooks/useProofRequest.ts
  ui/src/hooks/useWorker.ts
Due: prettier --write --ignore-path .prettierignore, eslint

fix: undo rust change
  pkgs/merkle-tree-wasm/src/lib.rs
Due: none

fix: resolve requested changes and rebase
  .github/workflows/test-coverage.yaml
  .gitignore
  Cargo.lock
  Cargo.toml
Due: prettier --write --ignore-path .prettierignore

fix: remove repeated halo2-ecdsa crate
  pkgs/circuits/halo2-ecdsa/Cargo.toml
  pkgs/circuits/halo2-ecdsa/README.md
  pkgs/circuits/halo2-ecdsa/src/circuit.rs
  pkgs/circuits/halo2-ecdsa/src/ecdsa.rs
  pkgs/circuits/halo2-ecdsa/src/lib.rs
Due: prettier --write --ignore-path .prettierignore

chore: rename some workflow titles
  .github/workflows/static-analysis.yml
  .github/workflows/test.yml
Due: prettier --write --ignore-path .prettierignore

Rust Test Coverage (#414)
  .github/workflows/static-analysis.yml
  .github/workflows/test-coverage.yaml
  .github/workflows/test.yml
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
  ui/src/components/SubmitProofRequest.tsx
  ui/src/hooks/useGoBackOnClickOutside.ts
  ui/src/hooks/useMerkleTreeWorker.ts
  ui/src/hooks/useProofRequest.ts
  ui/src/hooks/useWorker.ts
Due: prettier --write --ignore-path .prettierignore, eslint

chore: improve lint-staged rules
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path .prettierignore

chore: improve lint-staged rules (#418)
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path .prettierignore

chore: replace `prettier` by `biome`
  biome.jsonc
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write --ignore-path .prettierignore

chore(lint): replace `eslint` by `biome`
  .eslintignore
  .eslintrc.yaml
  biome.jsonc
  package.json
Due: prettier --write --ignore-path .prettierignore

chore: update '.lintstagedrc'
  .lintstagedrc.json
Due: prettier --write --ignore-path .prettierignore

chore: update `.lintstagedrc.json`
  .husky/pre-commit
  .lintstagedrc.json
Due: prettier --write --ignore-path .prettierignore

fix(format): exclude `.turbo`
  biome.jsonc
Due: none

chore: replace `prettier` and `eslint` by `biome`
  .eslintignore
  .eslintrc.yaml
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc.yaml
  biome.jsonc
  package.json
  pnpm-lock.yaml
  turbo.json
  ui/src/lib/config.ts
Due: prettier --write --ignore-path .prettierignore, eslint

changeset
  .changeset/nasty-ties-jump.md
Due: prettier --write --ignore-path .prettierignore

do not bump deps in ui and circom
  biome.jsonc
  circom/package.json
  ui/package.json
Due: prettier --write --ignore-path .prettierignore

Version Packages (#424)
  .changeset/nasty-ties-jump.md
  biome.jsonc
  circom/package.json
  pkgs/merkle-tree-worker/CHANGELOG.md
  pkgs/merkle-tree-worker/package.json
  pkgs/proof/CHANGELOG.md
  pkgs/proof/package.json
  pkgs/query/CHANGELOG.md
  pkgs/query/package.json
  pkgs/spartan-ecdsa-worker/CHANGELOG.md
  pkgs/spartan-ecdsa-worker/package.json
  ui/package.json
Due: prettier --write --ignore-path .prettierignore

feat: expose nullifier as proof public output
  Cargo.lock
  pkgs/spartan-ecdsa-wasm/Cargo.toml
  pkgs/spartan-ecdsa-wasm/src/eth_membership.rs
  pkgs/spartan-ecdsa-wasm/src/lib.rs
  pkgs/spartan-ecdsa-wasm/src/poseidon_hash.rs
Due: none

test: include nullifier pub input in test
  pkgs/spartan-ecdsa-wasm/src/eth_membership.rs
  pkgs/spartan-ecdsa-wasm/src/lib.rs
Due: none

chore(spartan-ecdsa): fix sapir imports
  Cargo.lock
  pkgs/spartan-ecdsa-wasm/Cargo.toml
  pkgs/spartan-ecdsa-wasm/src/eth_membership.rs
  pkgs/spartan-ecdsa-wasm/src/lib.rs
Due: none

chore(spartan-ecdsa): fix sapir imports (#426)
  Cargo.lock
  pkgs/spartan-ecdsa-wasm/Cargo.toml
  pkgs/spartan-ecdsa-wasm/src/eth_membership.rs
  pkgs/spartan-ecdsa-wasm/src/lib.rs
Due: none

refactor: load proof text file as ArrayBuffer
  ui/src/app/prove/prepare/from-file/page.tsx
  ui/src/app/verify/page.tsx
  ui/src/app/verify/result/page.tsx
  ui/src/components/AnonSetResults.tsx
  ui/src/components/FileInput.tsx
  ui/src/components/HelpModal.tsx
  ui/src/components/ProofTxtFileInput.tsx
  ui/src/components/ScrollableJsonContainer.tsx
  ui/src/components/index.ts
  ui/src/hooks/index.ts
  ui/src/hooks/useFile.ts
  ui/src/hooks/useJsonFile.ts
  ui/src/lib/index.ts
  ui/src/lib/parse.ts
  ui/src/lib/read-file.ts
  ui/src/lib/read-json-file.ts
  ui/src/lib/types.ts
  ui/tsconfig.json
Due: prettier --write --ignore-path .prettierignore, eslint

refactor(ui): shorten hooks imports
  ui/src/hooks/useFile.ts
  ui/src/hooks/useHelp.ts
  ui/src/hooks/useMerkleTreeWorker.ts
  ui/src/hooks/useProofRequest.ts
  ui/src/hooks/useProofResult.ts
  ui/src/hooks/useResetAnonSet.ts
  ui/src/hooks/useResetProofRequest.ts
  ui/src/hooks/useSetHelp.ts
  ui/src/hooks/useSpartanEcdsaWorker.ts
  ui/src/hooks/useVerifyProof.ts
Due: prettier --write --ignore-path .prettierignore, eslint

fix(ui): add :use client" statements
  ui/src/components/JsonFileInput.tsx
  ui/src/components/ProofTxtFileInput.tsx
Due: prettier --write --ignore-path .prettierignore, eslint
