Repository anonklub/anonklub: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

ci: update dockerfiles and fly env vars
  discord-bot/Dockerfile
  discord-bot/fly-prod.toml
  discord-bot/fly-staging.toml
  package.json
  query-api/fly-prod.toml
  query-api/fly-staging.toml
  ui/Dockerfile
  ui/fly-prod.toml
  ui/fly-staging.toml
  ui/src/lib/config.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

ci: refactor setting of env vars in Dockerfile and fly configs (#469)
  discord-bot/Dockerfile
  discord-bot/fly-prod.toml
  discord-bot/fly-staging.toml
  package.json
  query-api/fly-prod.toml
  query-api/fly-staging.toml
  ui/Dockerfile
  ui/fly-prod.toml
  ui/fly-staging.toml
  ui/src/lib/config.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore: merge staging (#465)
  .env.example
  .gitignore
  discord-bot/Dockerfile
  discord-bot/README.md
  discord-bot/fly-prod.toml
  discord-bot/fly-staging.toml
  discord-bot/package.json
  discord-bot/src/commands/VerifyCommand.ts
  discord-bot/src/events/MessageCreate.ts
  discord-bot/src/index.ts
  discord-bot/src/lib/abis/Groth16Verifier.json
  discord-bot/src/lib/abis/groth16Verifier.ts
  discord-bot/src/lib/config.ts
  discord-bot/src/lib/index.ts
  discord-bot/src/lib/types.ts
  discord-bot/src/lib/verify-onchain.ts
  discord-bot/src/lib/web3-client.ts
  package.json
  pnpm-lock.yaml
  query-api/fly-prod.toml
  query-api/fly-staging.toml
  ui/Dockerfile
  ui/fly-prod.toml
  ui/fly-staging.toml
  ui/package.json
  ui/src/app/api/verify/route.ts
  ui/src/app/prove/result/page.tsx
  ui/src/app/verify/page.tsx
  ui/src/app/verify/result/page.tsx
  ui/src/lib/config.ts
  ui/src/lib/index.ts
  ui/src/lib/verifier.ts
  ui/src/middleware.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore: add TODO comment
  ui/next.config.mjs
Due: none

fix: trying to fix a bug in wasm browser
  .gitignore
  Cargo.lock
  pkgs/halo2-binary-merkle-tree/mock/test_inputs_example.json
  pkgs/halo2-binary-merkle-tree/src/gadget.rs
  pkgs/halo2-binary-merkle-tree/src/lib.rs
  pkgs/halo2-ecdsa/src/circuits/efficient_ecdsa.rs
  pkgs/halo2-ecdsa/src/gadget/efficient_ecdsa.rs
  pkgs/halo2-ecdsa/src/gadget/mod.rs
  pkgs/halo2-ecdsa/src/utils/consts.rs
  pkgs/halo2-ecdsa/src/utils/recovery.rs
  pkgs/halo2-ecdsa/src/utils/verify.rs
  pkgs/halo2-eth-membership/Cargo.toml
  pkgs/halo2-eth-membership/mock/test_inputs_example.json
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/lib.rs
  pkgs/halo2-eth-membership/src/utils/circuit.rs
  pkgs/halo2-eth-membership/src/utils/consts.rs
  pkgs/halo2-eth-membership/src/utils/prove.rs
  pkgs/spartan-ecdsa-wasm/src/utils.rs
  pnpm-lock.yaml
  ui/src/hooks/useProofRequest.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

fix(ui): check env var def depending client/server side
  .env.example
  discord-bot/Dockerfile
  discord-bot/src/lib/config.ts
  ui/Dockerfile
  ui/src/lib/config.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore(ui): use `next/legacy/image`
  ui/src/components/CheckMark.tsx
  ui/src/components/Footer.tsx
  ui/src/components/Header.tsx
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore(ui): remove TODO
  ui/src/app/api/verify/route.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

refactor(ui): remove `force-dynamic` for server route
  ui/src/app/api/verify/route.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

fix(ui): force asset/nft/punk page to be dynamic
  ui/src/app/query/asset/nft/punk/page.tsx
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore(ui): custom next config instead of soft linking wasm
  ui/Dockerfile
  ui/next.config.mjs
  ui/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

dev sripwoud (#472)
  .env.example
  discord-bot/Dockerfile
  discord-bot/src/lib/config.ts
  ui/Dockerfile
  ui/next.config.mjs
  ui/package.json
  ui/src/app/api/verify/route.ts
  ui/src/app/query/asset/nft/punk/page.tsx
  ui/src/components/CheckMark.tsx
  ui/src/components/Footer.tsx
  ui/src/components/Header.tsx
  ui/src/lib/config.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

upadte cond
  ui/src/lib/config.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

fix: set ARG in Dockerfile
  ui/Dockerfile
  ui/fly-prod.toml
  ui/fly-staging.toml
  ui/src/lib/config.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

fix
  ui/Dockerfile
Due: none

refactor
  discord-bot/Dockerfile
  query-api/Dockerfile
  ui/Dockerfile
Due: none

fiX: turbo compile
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/lib.rs
  pkgs/halo2-eth-membership/src/utils/prove.rs
  pnpm-lock.yaml
  turbo.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: revert change on wasm file soft link
  ui/Dockerfile
  ui/next.config.mjs
  ui/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: resolve test errors
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/lib.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: package.json
  package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

docs: export env var in example
  .env.example
  README.md
Due: none

chore: merge staging (#473)
  discord-bot/Dockerfile
  discord-bot/src/lib/config.ts
  query-api/Dockerfile
  ui/Dockerfile
  ui/fly-prod.toml
  ui/fly-staging.toml
  ui/next.config.mjs
  ui/src/app/api/verify/route.ts
  ui/src/app/query/asset/nft/punk/page.tsx
  ui/src/components/CheckMark.tsx
  ui/src/components/Footer.tsx
  ui/src/components/Header.tsx
  ui/src/lib/config.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

docs: update README.md and .envrc.example
  .env.example
  .envrc.example
  .gitignore
  .tool-versions
  README.md
Due: none

chore: merge staging (#473)
  .env.example
Due: none

fix: lint
  Cargo.toml
  pkgs/halo2-binary-merkle-tree/Cargo.toml
  pkgs/halo2-binary-merkle-tree/mock/test_inputs.json
  pkgs/halo2-binary-merkle-tree/package.json
  pkgs/halo2-ecdsa/src/circuits/mod.rs
  pkgs/halo2-ecdsa/src/utils/halo2_utils.rs
  pkgs/halo2-eth-membership/mock/test_inputs.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: restructure the whole halo2 pkgs structure
  Cargo.lock
  Cargo.toml
  pkgs/circuits/halo2-secp256k1-wasm/package.json
  pkgs/circuits/halo2-secp256k1-wasm/src/utils.rs
  pkgs/halo2-binary-merkle-tree/Cargo.toml
  pkgs/halo2-binary-merkle-tree/README.md
  pkgs/halo2-binary-merkle-tree/mock/test_inputs.json
  pkgs/halo2-binary-merkle-tree/package.json
  pkgs/halo2-binary-merkle-tree/src/binary_merkle_tree.rs
  pkgs/halo2-binary-merkle-tree/src/consts.rs
  pkgs/halo2-binary-merkle-tree/src/gadget.rs
  pkgs/halo2-binary-merkle-tree/src/lib.rs
  pkgs/halo2-ecdsa/Cargo.toml
  pkgs/halo2-ecdsa/README.md
  pkgs/halo2-ecdsa/configs/ecdsa.config
  pkgs/halo2-ecdsa/package.json
  pkgs/halo2-ecdsa/rust-toolchain
  pkgs/halo2-ecdsa/src/circuits/ecdsa.rs
  pkgs/halo2-ecdsa/src/circuits/efficient_ecdsa.rs
  pkgs/halo2-ecdsa/src/circuits/mod.rs
  pkgs/halo2-ecdsa/src/draft/mod.rs
  pkgs/halo2-ecdsa/src/lib.rs
  pkgs/halo2-ecdsa/src/utils/consts.rs
  pkgs/halo2-ecdsa/src/utils/halo2_ext.rs
  pkgs/halo2-ecdsa/src/utils/halo2_utils.rs
  pkgs/halo2-ecdsa/src/utils/mod.rs
  pkgs/halo2-ecdsa/src/utils/prove.rs
  pkgs/halo2-ecdsa/src/utils/recovery.rs
  pkgs/halo2-ecdsa/src/utils/verify.rs
  pkgs/halo2-eth-membership/mock/test_inputs.json
  pkgs/halo2wrong-ecdsa/Cargo.toml
  pkgs/halo2wrong-ecdsa/README.md
  pkgs/halo2wrong-ecdsa/src/circuit.rs
  pkgs/halo2wrong-ecdsa/src/ecdsa.rs
  pkgs/halo2wrong-ecdsa/src/lib.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: cargo lint
  pkgs/halo2-ecdsa/package.json
  pnpm-lock.yaml
  turbo.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: cargo lint fix
  package.json
  pkgs/binary-merkle-tree-halo2/src/binary_merkle_tree.rs
  pkgs/halo2-binary-merkle-tree/src/binary_merkle_tree.rs
  pkgs/merkle-tree-wasm/src/lib.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: cargo lint fix
  pkgs/binary-merkle-tree-halo2/src/binary_merkle_tree.rs
  pkgs/halo2-binary-merkle-tree/src/binary_merkle_tree.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: delete .env file
  .env.example
  copy
Due: none

chore: lift up `halo2-*` package folders (#444)
  Cargo.lock
  Cargo.toml
  copy
  package.json
  pkgs/circuits/halo2-secp256k1-wasm/src/utils.rs
  pkgs/halo2-binary-merkle-tree/Cargo.toml
  pkgs/halo2-binary-merkle-tree/README.md
  pkgs/halo2-binary-merkle-tree/package.json
  pkgs/halo2-binary-merkle-tree/src/binary_merkle_tree.rs
  pkgs/halo2-binary-merkle-tree/src/consts.rs
  pkgs/halo2-binary-merkle-tree/src/gadget.rs
  pkgs/halo2-binary-merkle-tree/src/lib.rs
  pkgs/halo2-ecdsa/Cargo.toml
  pkgs/halo2-ecdsa/README.md
  pkgs/halo2-ecdsa/configs/ecdsa.config
  pkgs/halo2-ecdsa/package.json
  pkgs/halo2-ecdsa/rust-toolchain
  pkgs/halo2-ecdsa/src/circuits/ecdsa.rs
  pkgs/halo2-ecdsa/src/circuits/efficient_ecdsa.rs
  pkgs/halo2-ecdsa/src/circuits/mod.rs
  pkgs/halo2-ecdsa/src/draft/mod.rs
  pkgs/halo2-ecdsa/src/lib.rs
  pkgs/halo2-ecdsa/src/utils/consts.rs
  pkgs/halo2-ecdsa/src/utils/halo2_ext.rs
  pkgs/halo2-ecdsa/src/utils/halo2_utils.rs
  pkgs/halo2-ecdsa/src/utils/mod.rs
  pkgs/halo2-ecdsa/src/utils/prove.rs
  pkgs/halo2-ecdsa/src/utils/recovery.rs
  pkgs/halo2-ecdsa/src/utils/verify.rs
  pkgs/halo2wrong-ecdsa/Cargo.toml
  pkgs/halo2wrong-ecdsa/README.md
  pkgs/halo2wrong-ecdsa/src/circuit.rs
  pkgs/halo2wrong-ecdsa/src/ecdsa.rs
  pkgs/halo2wrong-ecdsa/src/lib.rs
  pkgs/merkle-tree-wasm/src/lib.rs
  pnpm-lock.yaml
  turbo.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: cargo lint
  pkgs/binary-merkle-tree-halo2/Cargo.toml
  pkgs/binary-merkle-tree-halo2/README.md
  pkgs/binary-merkle-tree-halo2/package.json
  pkgs/binary-merkle-tree-halo2/src/binary_merkle_tree.rs
  pkgs/binary-merkle-tree-halo2/src/consts.rs
  pkgs/binary-merkle-tree-halo2/src/gadget.rs
  pkgs/binary-merkle-tree-halo2/src/lib.rs
  pkgs/halo2-binary-merkle-tree/src/binary_merkle_tree.rs
  pkgs/halo2-binary-merkle-tree/src/lib.rs
  pkgs/halo2-ecdsa/src/gadget/efficient_ecdsa.rs
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pnpm-lock.yaml
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: cargo lint
  Cargo.toml
  pkgs/halo2-binary-merkle-tree/Cargo.toml
  pkgs/halo2-binary-merkle-tree/package.json
  pkgs/halo2-ecdsa/Cargo.toml
  pkgs/halo2-ecdsa/package.json
  pkgs/halo2-ecdsa/src/circuits/mod.rs
  pkgs/halo2-eth-membership/Cargo.toml
  pkgs/halo2-eth-membership/package.json
  pkgs/halo2-wasm-ext/Cargo.toml
  pkgs/halo2-wasm-ext/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: failed merkle tree test
  pkgs/halo2-binary-merkle-tree/src/lib.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: trying init()
  pkgs/halo2-eth-membership-worker/src/interface.ts
  pkgs/halo2-eth-membership-worker/src/worker.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore: bump lockfile
  pnpm-lock.yaml
Due: none

ci: bump actions versions
  .github/workflows/release.yml
Due: none

Path conditions:
  pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched: any of: **/*.{json,jsonc,js,jsx,rs,ts,tsx}
  pnpm fmt: any of: **/*.{json,jsonc,js,jsx,rs,ts,tsx}
  tsc-files --noEmit: any of: **/*.{ts,tsx}
