Repository anonklub/anonklub: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore: do not use no-frozen-lockfile in ci
  .github/workflows/release.yml
Due: none

chore(spartan-ecdsa-worker): bump `viem`
  pkgs/spartan-ecdsa-worker/package.json
  pnpm-lock.yaml
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

refactor: get rid of calculateSigRecovery util
  pkgs/spartan-ecdsa-worker/src/utils.ts
  pkgs/spartan-ecdsa-worker/src/worker.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore: add changeset
  .changeset/late-llamas-think.md
  package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

refactor(spartan-ecdsa-worker): get rid of `calculateSigRecovery` util (#477)
  .changeset/late-llamas-think.md
  .github/workflows/release.yml
  package.json
  pkgs/spartan-ecdsa-worker/package.json
  pkgs/spartan-ecdsa-worker/src/utils.ts
  pkgs/spartan-ecdsa-worker/src/worker.ts
  pnpm-lock.yaml
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore: delete `binary-merkle-tree-halo2`
  Cargo.toml
  pkgs/binary-merkle-tree-halo2/Cargo.toml
  pkgs/binary-merkle-tree-halo2/README.md
  pkgs/binary-merkle-tree-halo2/package.json
  pkgs/binary-merkle-tree-halo2/src/binary_merkle_tree.rs
  pkgs/binary-merkle-tree-halo2/src/consts.rs
  pkgs/binary-merkle-tree-halo2/src/gadget.rs
  pkgs/binary-merkle-tree-halo2/src/lib.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: make some pkgs private
  pkgs/halo2-binary-merkle-tree/package.json
  pkgs/halo2-ecdsa/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

revert bump in ui
  Cargo.lock
  ui/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore(spartan-ecdsa-worker): update contributors
  pkgs/spartan-ecdsa-worker/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: bug in wasm prove circuit
  pkgs/halo2-binary-merkle-tree/src/gadget.rs
  pkgs/halo2-eth-membership-worker/src/interface.ts
  pkgs/halo2-eth-membership-worker/src/worker.ts
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/lib.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

ci: bump actions versions
  .github/workflows/release.yml
Due: none

chore: make `halo2-{ecdsa,binary-merkle-tree}` private
  pkgs/halo2-binary-merkle-tree/package.json
  pkgs/halo2-ecdsa/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore(spartan-ecdsa-worker): downgrade `viem`
  pkgs/spartan-ecdsa-worker/package.json
  pnpm-lock.yaml
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: update .gitignore
  .gitignore
Due: none

chore: update `Cargo.lock`
  Cargo.lock
Due: none

chore: add changesets
  .changeset/config.json
  .changeset/cyan-pigs-rescue.md
  .changeset/many-rivers-listen.md
  package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: revert bump in ui
  ui/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: add changeset
  .changeset/nervous-jobs-compete.md
Due: none

chore: add changeset
  .changeset/perfect-monkeys-brush.md
  pkgs/merkle-tree-worker/package.json
  pnpm-lock.yaml
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore(merkle-tree-worker): bump `@anonklub/merkle-tree-wasm` (#482)
  .changeset/perfect-monkeys-brush.md
  pkgs/merkle-tree-worker/package.json
  pnpm-lock.yaml
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: revert bump in `ui`
  ui/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore(ui): bump `@anonklub/{merkle-tree,spartan-ecdsa}-worker`
  pnpm-lock.yaml
  ui/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

style(ui): add hover class to `Anonset` CheckMark buttons
  ui/src/components/CheckMark.tsx
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

fix(ui): close ScrollableJsonContainer on cancel
  ui/src/components/FileInput.tsx
  ui/src/components/SubmitProofRequest.tsx
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

style: underline only Anonset Checkmark
  ui/src/components/CheckMark.tsx
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

feat: impl halo2 circuit verify
  .gitignore
  Cargo.lock
  pkgs/halo2-eth-membership-worker/src/index.ts
  pkgs/halo2-eth-membership-worker/src/interface.ts
  pkgs/halo2-eth-membership-worker/src/utils.ts
  pkgs/halo2-eth-membership-worker/src/worker.ts
  pkgs/halo2-eth-membership/Cargo.toml
  pkgs/halo2-eth-membership/mock/prove_test_inputs_example.json
  pkgs/halo2-eth-membership/mock/verify_test_inputs.example.json
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/lib.rs
  pkgs/halo2-eth-membership/src/utils/circuit.rs
  pkgs/halo2-eth-membership/src/utils/mod.rs
  pkgs/halo2-wasm-ext/src/ext.rs
  ui/src/hooks/useHalo2EthMembershipWorker.ts
  ui/src/hooks/useVerifyProof.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

fix: update nightly build and fix tokio error with wasm
  Cargo.lock
  pkgs/halo2-eth-membership/Cargo.toml
  pkgs/halo2-eth-membership/src/lib.rs
  pnpm-lock.yaml
  rust-toolchain
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: halo2 e2e
  Cargo.lock
  Cargo.toml
  pkgs/halo2-e2e/Cargo.toml
  pkgs/halo2-e2e/src/lib.rs
  pkgs/halo2-eth-membership/build.rs
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/lib.rs
  pkgs/halo2-eth-membership/src/utils/circuit.rs
  pkgs/halo2-eth-membership/src/utils/mod.rs
  pkgs/halo2-eth-membership/src/utils/prove.rs
  rust-toolchain
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

feat: feat: ui verify halo2 proofs
  Cargo.lock
  copy
  pkgs/halo2-e2e/Cargo.toml
  pkgs/halo2-e2e/mock/prove_test_inputs_example.json
  pkgs/halo2-e2e/mock/verify_test_inputs.example.json
  pkgs/halo2-e2e/src/lib.rs
  pkgs/halo2-ecdsa/Cargo.toml
  pkgs/halo2-eth-membership-worker/src/interface.ts
  pkgs/halo2-eth-membership-worker/src/utils.ts
  pkgs/halo2-eth-membership-worker/src/worker.ts
  pkgs/halo2-eth-membership/Cargo.toml
  pkgs/halo2-eth-membership/src/lib.rs
  pkgs/halo2-eth-membership/src/utils/mod.rs
  pnpm-lock.yaml
  ui/src/hooks/useHalo2EthMembershipWorker.ts
  ui/src/hooks/useProofResult.ts
  ui/src/hooks/useVerifyProof.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

fix: cargo fmt
  copy
  pkgs/halo2-binary-merkle-tree-worker/src/worker.ts
  pkgs/halo2-e2e/mock/verify_test_inputs.example.json
  pkgs/halo2-ecdsa/src/circuits/mod.rs
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/utils/circuit.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

feat: an extension version of halo2-wasm crate
  .gitignore
  Cargo.lock
  Cargo.toml
  pkgs/halo2-wasm-ext/Cargo.toml
  pkgs/halo2-wasm-ext/README.md
  pkgs/halo2-wasm-ext/package.json
  pkgs/halo2-wasm-ext/src/config.rs
  pkgs/halo2-wasm-ext/src/consts.rs
  pkgs/halo2-wasm-ext/src/ext.rs
  pkgs/halo2-wasm-ext/src/instances.rs
  pkgs/halo2-wasm-ext/src/lib.rs
  pkgs/halo2-wasm-ext/src/params.rs
  pkgs/halo2-wasm-ext/src/utils.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

ci: auto stop fly machines
  discord-bot/fly-prod.toml
  discord-bot/fly-staging.toml
  query-api/fly-prod.toml
  query-api/fly-staging.toml
  ui/fly-prod.toml
  ui/fly-staging.toml
Due: none

docs: update README
  README.md
Due: none

docs: update README (#487)
  README.md
Due: none

chore: delete deploy GH workflows
  .github/workflows/deploy-discord-bot-prod.yml
  .github/workflows/deploy-discord-bot-staging.yml
  .github/workflows/deploy-query-api-prod.yml
  .github/workflows/deploy-query-api-staging.yml
  .github/workflows/deploy-ui-prod.yml
  .github/workflows/deploy-ui-staging.yml
Due: none

chore: delete deploy GH workflows (#488)
  .github/workflows/deploy-discord-bot-prod.yml
  .github/workflows/deploy-discord-bot-staging.yml
  .github/workflows/deploy-query-api-prod.yml
  .github/workflows/deploy-query-api-staging.yml
  .github/workflows/deploy-ui-prod.yml
  .github/workflows/deploy-ui-staging.yml
Due: none

docs(query-api): add openapi.yml
  query-api/openapi.yml
Due: none

fix: requested changes
  pkgs/halo2-wasm-ext/README.md
  pkgs/halo2-wasm-ext/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

Path conditions:
  pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched: any of: **/*.{json,jsonc,js,jsx,rs,ts,tsx}
  pnpm fmt: any of: **/*.{json,jsonc,js,jsx,rs,ts,tsx}
  tsc-files --noEmit: any of: **/*.{ts,tsx}
