Repository anonklub/anonklub: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

.lintstagedrc.json:

{
  "**/*.{json,jsonc,js,jsx,rs,ts,tsx}": [
    "pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched",
    "pnpm fmt"
  ],
  "**/*.{ts,tsx}": "tsc-files --noEmit"
}

fix: do not make `@anonklub/halo2-eth-membership-worker` private
  pkgs/halo2-eth-membership-worker/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

refactor(ui): rewrite component import
  ui/src/components/ConnectButton.tsx
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

refactor(halo2-bin-merkle-tree-worker): remove unnecessary `await` (#506)
  .changeset/short-cups-invent.md
  pkgs/halo2-binary-merkle-tree-worker/src/worker.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

fix: use absolute paths for ui imports
  ui/src/components/AnonSetResults.tsx
  ui/src/components/FileInput.tsx
  ui/src/components/Footer.tsx
  ui/src/components/Header.tsx
  ui/src/components/HelpModal.tsx
  ui/src/components/JsonFileInput.tsx
  ui/src/components/Layout.tsx
  ui/src/components/ProofBinFileInput.tsx
  ui/src/components/SubmitProofRequest.tsx
  ui/src/components/WarningModal.tsx
  ui/src/components/index.ts
  ui/src/hooks/index.ts
  ui/src/hooks/useFile.ts
  ui/src/hooks/useHelp.ts
  ui/src/hooks/useMerkleTreeWorker.ts
  ui/src/hooks/useProofRequest.ts
  ui/src/hooks/useProofResult.ts
  ui/src/hooks/useResetAnonSet.ts
  ui/src/hooks/useResetProofRequest.ts
  ui/src/hooks/useSetHelp.ts
  ui/src/hooks/useSpartanEcdsaWorker.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

revert: try/catch error handler
  ui/src/hooks/useSpartanEcdsaWorker.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

refactor(ui): use absolute import paths (#514)
  ui/src/components/AnonSetResults.tsx
  ui/src/components/FileInput.tsx
  ui/src/components/Footer.tsx
  ui/src/components/Header.tsx
  ui/src/components/HelpModal.tsx
  ui/src/components/JsonFileInput.tsx
  ui/src/components/Layout.tsx
  ui/src/components/ProofBinFileInput.tsx
  ui/src/components/SubmitProofRequest.tsx
  ui/src/components/WarningModal.tsx
  ui/src/components/index.ts
  ui/src/hooks/index.ts
  ui/src/hooks/useFile.ts
  ui/src/hooks/useHelp.ts
  ui/src/hooks/useMerkleTreeWorker.ts
  ui/src/hooks/useProofRequest.ts
  ui/src/hooks/useProofResult.ts
  ui/src/hooks/useResetAnonSet.ts
  ui/src/hooks/useResetProofRequest.ts
  ui/src/hooks/useSetHelp.ts
  ui/src/hooks/useSpartanEcdsaWorker.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

fix: remove try/catch
  ui/src/hooks/useMerkleTreeWorker.ts
  ui/src/hooks/useSpartanEcdsaWorker.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

feat(ui): remove useless `try/catch` in spartan worker hook (#515)
  ui/src/hooks/useMerkleTreeWorker.ts
  ui/src/hooks/useSpartanEcdsaWorker.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

feat: halo2 eth membership wasm web worker integration with ui
  Cargo.lock
  pkgs/halo2-binary-merkle-tree/src/lib.rs
  pkgs/spartan-ecdsa-wasm/src/utils.rs
  pnpm-lock.yaml
  turbo.json
  ui/next.config.mjs
  ui/package.json
  ui/src/hooks/index.ts
  ui/src/hooks/useHalo2BinaryMerkleTree.ts
  ui/src/hooks/useHalo2EthMembershipWorker.ts
  ui/src/hooks/useProofRequest.ts
  ui/src/hooks/useProofResult.ts
  ui/src/hooks/useVerifyProof.ts
  ui/src/hooks/useWorker.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

fix: remove circular dependency detector
  ui/next.config.mjs
Due: none

fix: resolve conflicts
  pnpm-lock.yaml
Due: none

fix: resolve conflicts
  Cargo.lock
  pnpm-lock.yaml
Due: none

fix: requested changes
  ui/next.config.mjs
Due: none

feat: using published halo2 pkgs
  pnpm-lock.yaml
  ui/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: remove useless try/catch
  ui/src/hooks/useHalo2BinaryMerkleTree.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore: add comment in config
  ui/next.config.mjs
Due: none

feat(ui): prove with halo2 (#475)
  Cargo.lock
  pkgs/halo2-binary-merkle-tree/src/lib.rs
  pkgs/spartan-ecdsa-wasm/src/utils.rs
  pnpm-lock.yaml
  turbo.json
  ui/next.config.mjs
  ui/package.json
  ui/src/hooks/index.ts
  ui/src/hooks/useHalo2BinaryMerkleTree.ts
  ui/src/hooks/useHalo2EthMembershipWorker.ts
  ui/src/hooks/useProofRequest.ts
  ui/src/hooks/useProofResult.ts
  ui/src/hooks/useVerifyProof.ts
  ui/src/hooks/useWorker.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore: enhance @anonklub/halo2-eth-membership halo2 circuit
  pkgs/halo2-eth-membership/mock/prove_test_inputs_example.json
  pkgs/halo2-eth-membership/mock/test_inputs_example.json
  pkgs/halo2-eth-membership/mock/verify_test_inputs.example.json
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/lib.rs
  pkgs/halo2-eth-membership/src/utils/circuit.rs
  pkgs/halo2-wasm-ext/src/ext.rs
  rust-toolchain
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: fmt
  pkgs/halo2-eth-membership/mock/prove_test_inputs_example.json
  pkgs/halo2-eth-membership/mock/verify_test_inputs.example.json
  pkgs/halo2-eth-membership/src/eth_membership.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: dprint fmt
  pkgs/halo2-eth-membership/src/eth_membership.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: some enhancements on the tests
  pkgs/halo2-eth-membership/mock/mock/test_inputs_example.json
  pkgs/halo2-eth-membership/mock/test_inputs_example.json
  pkgs/halo2-eth-membership/src/eth_membership.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

docs: update README
  README.md
Due: none

fix: mock merkle tree function
  pkgs/halo2-eth-membership/src/eth_membership.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: enhance tests
  pkgs/halo2-eth-membership/CHANGELOG.md
  pkgs/halo2-eth-membership/package.json
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/lib.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

refacotr: enhance `halo2-eth-membership` circuit (#517)
  pkgs/halo2-eth-membership/CHANGELOG.md
  pkgs/halo2-eth-membership/mock/mock/test_inputs_example.json
  pkgs/halo2-eth-membership/mock/prove_test_inputs_example.json
  pkgs/halo2-eth-membership/mock/verify_test_inputs.example.json
  pkgs/halo2-eth-membership/package.json
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/lib.rs
  pkgs/halo2-eth-membership/src/utils/circuit.rs
  pkgs/halo2-wasm-ext/src/ext.rs
  rust-toolchain
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

feat: halo2 e2e crate
  Cargo.lock
  Cargo.toml
  pkgs/halo2-e2e/Cargo.toml
  pkgs/halo2-e2e/mock/prove_test_inputs_example.json
  pkgs/halo2-e2e/mock/verify_test_inputs.example.json
  pkgs/halo2-e2e/src/lib.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: skip tests if json files are not set
  Cargo.lock
  pkgs/halo2-e2e/Cargo.toml
  pkgs/halo2-e2e/src/lib.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

test(halo2): add e2e tests crate (#518)
  Cargo.lock
  Cargo.toml
  pkgs/halo2-e2e/Cargo.toml
  pkgs/halo2-e2e/mock/prove_test_inputs_example.json
  pkgs/halo2-e2e/mock/verify_test_inputs.example.json
  pkgs/halo2-e2e/src/lib.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

feat: fetching params kzg from server
  pkgs/halo2-eth-membership-worker/package.json
  pkgs/halo2-eth-membership-worker/src/index.ts
  pkgs/halo2-eth-membership-worker/src/interface.ts
  pkgs/halo2-eth-membership-worker/src/utils.ts
  pkgs/halo2-eth-membership-worker/src/worker.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore: add changelog changes
  copy
  pkgs/halo2-eth-membership-worker/CHANGELOG.md
  pnpm-lock.yaml
Due: none

chore: delete copy file
  copy
Due: none

fix: add a check for the k value
  pkgs/halo2-eth-membership-worker/src/utils.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

fix: k is fixed on 15 until benchmarking
  pkgs/halo2-eth-membership-worker/CHANGELOG.md
  pkgs/halo2-eth-membership-worker/package.json
  pkgs/halo2-eth-membership-worker/src/interface.ts
  pkgs/halo2-eth-membership-worker/src/worker.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore: add changeset
  .changeset/tender-toys-smoke.md
Due: none

feat(halo2-eth-membership-worker): fetch KZG params (#519)
  .changeset/tender-toys-smoke.md
  pkgs/halo2-eth-membership-worker/package.json
  pkgs/halo2-eth-membership-worker/src/index.ts
  pkgs/halo2-eth-membership-worker/src/interface.ts
  pkgs/halo2-eth-membership-worker/src/utils.ts
  pkgs/halo2-eth-membership-worker/src/worker.ts
  pnpm-lock.yaml
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore: revert deps updates in `ui`
  ui/CHANGELOG.md
  ui/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

feat: benchmarking halo2-eth-membership
  Cargo.lock
  pkgs/halo2-eth-membership/Cargo.toml
  pkgs/halo2-eth-membership/configs/benchmark.config
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_11_291_53_1_10_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_12_139_24_1_11_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_13_68_12_1_12_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_14_34_6_1_13_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_15_17_3_1_14_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_16_8_2_1_15_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_17_4_1_1_16_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_18_2_1_1_17_1.data
  pkgs/halo2-eth-membership/configs/data/ecdsa_circuit_proof_19_1_1_1_18_1.data
  pkgs/halo2-eth-membership/configs/results/eff_ecdsa_bench.csv
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-wasm-ext/src/ext.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

feat: adding a benchmark plot
  pkgs/halo2-eth-membership/configs/results/output.png
Due: none

feat: enhance circuit config
  pkgs/halo2-eth-membership/configs/eth_membership.config
Due: none

refactor: rename config extension to .cfg and update README with benchmark
  .gitignore
  README.md
  pkgs/halo2-eth-membership/Cargo.toml
  pkgs/halo2-eth-membership/build.rs
  pkgs/halo2-eth-membership/configs/benchmark.cfg
  pkgs/halo2-eth-membership/configs/benchmark_plot.png
  pkgs/halo2-eth-membership/configs/eth_membership.cfg
  pkgs/halo2-eth-membership/src/eth_membership.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt
