Repository anonklub/anonklub: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

feat: create halo2-wasm-ext crate (#486)
  .gitignore
  Cargo.lock
  Cargo.toml
  pkgs/halo2-wasm-ext/Cargo.toml
  pkgs/halo2-wasm-ext/README.md
  pkgs/halo2-wasm-ext/src/config.rs
  pkgs/halo2-wasm-ext/src/consts.rs
  pkgs/halo2-wasm-ext/src/ext.rs
  pkgs/halo2-wasm-ext/src/instances.rs
  pkgs/halo2-wasm-ext/src/lib.rs
  pkgs/halo2-wasm-ext/src/params.rs
  pkgs/halo2-wasm-ext/src/utils.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

feat: halo2 ecdsa membership without nullifier
  Cargo.lock
  Cargo.toml
  pkgs/cli/Cargo.toml
  pkgs/halo2-binary-merkle-tree/Cargo.toml
  pkgs/halo2-binary-merkle-tree/package.json
  pkgs/halo2-binary-merkle-tree/src/binary_merkle_tree.rs
  pkgs/halo2-binary-merkle-tree/src/binary_merkle_tree_2.rs
  pkgs/halo2-binary-merkle-tree/src/consts.rs
  pkgs/halo2-binary-merkle-tree/src/gadget.rs
  pkgs/halo2-binary-merkle-tree/src/lib.rs
  pkgs/halo2-ecdsa/src/gadget/efficient_ecdsa.rs
  pkgs/halo2-ecdsa/src/gadget/mod.rs
  pkgs/halo2-ecdsa/src/lib.rs
  pkgs/halo2-ecdsa/src/utils/consts.rs
  pkgs/halo2-ecdsa/src/utils/halo2_ext.rs
  pkgs/halo2-ecdsa/src/utils/mod.rs
  pkgs/halo2-ecdsa/src/utils/recovery.rs
  pkgs/halo2-ecdsa/src/utils/verify.rs
  pkgs/halo2-eth-membership/.cargo/config.toml
  pkgs/halo2-eth-membership/Cargo.toml
  pkgs/halo2-eth-membership/README.md
  pkgs/halo2-eth-membership/configs/eth_membership.config
  pkgs/halo2-eth-membership/package.json
  pkgs/halo2-eth-membership/scripts/run_native_tests.sh
  pkgs/halo2-eth-membership/scripts/run_wasm_tests.sh
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/lib.rs
  pkgs/halo2-eth-membership/src/utils/circuit.rs
  pkgs/halo2-eth-membership/src/utils/consts.rs
  pkgs/halo2-eth-membership/src/utils/mod.rs
  pkgs/halo2-eth-membership/src/utils/prove.rs
  pkgs/halo2-wasm-ext/package.json
  pkgs/halo2-wasm-ext/rust-toolchain
  pnpm-lock.yaml
  rust-toolchain
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: remove unused codes from halo2-related pkgs
  pkgs/cli/bin/main.rs
  pkgs/halo2-binary-merkle-tree/src/binary_merkle_tree_2.rs
  pkgs/halo2-binary-merkle-tree/src/lib.rs
  pkgs/halo2-ecdsa/src/circuits/efficient_ecdsa.rs
  pkgs/halo2-ecdsa/src/draft/mod.rs
  pkgs/halo2-ecdsa/src/gadget/efficient_ecdsa.rs
  pkgs/halo2-ecdsa/src/gadget/mod.rs
  pkgs/halo2-ecdsa/src/utils/halo2_utils.rs
  pkgs/halo2-ecdsa/src/utils/prove.rs
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/utils/circuit.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: roll back the "generate_merkle_proof" (wasm32 build)
  pkgs/halo2-binary-merkle-tree/src/lib.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: remove unused codes from halo2-related pkgs (#489)
  pkgs/cli/bin/main.rs
  pkgs/halo2-binary-merkle-tree/src/binary_merkle_tree_2.rs
  pkgs/halo2-binary-merkle-tree/src/lib.rs
  pkgs/halo2-ecdsa/src/circuits/efficient_ecdsa.rs
  pkgs/halo2-ecdsa/src/draft/mod.rs
  pkgs/halo2-ecdsa/src/gadget/efficient_ecdsa.rs
  pkgs/halo2-ecdsa/src/gadget/mod.rs
  pkgs/halo2-ecdsa/src/utils/halo2_utils.rs
  pkgs/halo2-ecdsa/src/utils/prove.rs
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/utils/circuit.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

ci: exclude `halo2{wrong-ecdsa,-{ecdsa,eth-membership}}` from tests
  .github/workflows/main-staging.yml
Due: none

feat(halo2): implement eth membership circuit (without nullifier) (#445)
  Cargo.lock
  Cargo.toml
  pkgs/cli/Cargo.toml
  pkgs/cli/bin/main.rs
  pkgs/halo2-binary-merkle-tree/Cargo.toml
  pkgs/halo2-binary-merkle-tree/package.json
  pkgs/halo2-binary-merkle-tree/src/binary_merkle_tree.rs
  pkgs/halo2-binary-merkle-tree/src/binary_merkle_tree_2.rs
  pkgs/halo2-binary-merkle-tree/src/consts.rs
  pkgs/halo2-binary-merkle-tree/src/gadget.rs
  pkgs/halo2-binary-merkle-tree/src/lib.rs
  pkgs/halo2-ecdsa/src/circuits/efficient_ecdsa.rs
  pkgs/halo2-ecdsa/src/draft/mod.rs
  pkgs/halo2-ecdsa/src/gadget/mod.rs
  pkgs/halo2-ecdsa/src/lib.rs
  pkgs/halo2-ecdsa/src/utils/consts.rs
  pkgs/halo2-ecdsa/src/utils/halo2_ext.rs
  pkgs/halo2-ecdsa/src/utils/halo2_utils.rs
  pkgs/halo2-ecdsa/src/utils/mod.rs
  pkgs/halo2-ecdsa/src/utils/recovery.rs
  pkgs/halo2-ecdsa/src/utils/verify.rs
  pkgs/halo2-eth-membership/.cargo/config.toml
  pkgs/halo2-eth-membership/Cargo.toml
  pkgs/halo2-eth-membership/README.md
  pkgs/halo2-eth-membership/configs/eth_membership.config
  pkgs/halo2-eth-membership/package.json
  pkgs/halo2-eth-membership/scripts/run_native_tests.sh
  pkgs/halo2-eth-membership/scripts/run_wasm_tests.sh
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/lib.rs
  pkgs/halo2-eth-membership/src/utils/circuit.rs
  pkgs/halo2-eth-membership/src/utils/consts.rs
  pkgs/halo2-eth-membership/src/utils/mod.rs
  pkgs/halo2-eth-membership/src/utils/prove.rs
  pkgs/halo2-wasm-ext/package.json
  pkgs/halo2-wasm-ext/rust-toolchain
  pnpm-lock.yaml
  rust-toolchain
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

feat: halo2 eth membership wasm web worker
  pkgs/halo2-ecdsa/Cargo.toml
  pkgs/halo2-ecdsa/src/draft/mod.rs
  pkgs/halo2-ecdsa/src/gadget/efficient_ecdsa.rs
  pkgs/halo2-eth-membership-worker/README.md
  pkgs/halo2-eth-membership-worker/package.json
  pkgs/halo2-eth-membership-worker/src/index.ts
  pkgs/halo2-eth-membership-worker/src/interface.ts
  pkgs/halo2-eth-membership-worker/src/utils.ts
  pkgs/halo2-eth-membership-worker/src/worker.ts
  pkgs/halo2-eth-membership-worker/tsconfig.compile.json
  pkgs/halo2-eth-membership-worker/tsconfig.json
  pkgs/halo2-eth-membership/Cargo.toml
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/lib.rs
  pkgs/halo2-wasm-ext/Cargo.toml
  pnpm-lock.yaml
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore: dprint fmt
  pkgs/halo2-eth-membership-worker/package.json
  pkgs/halo2-eth-membership-worker/src/interface.ts
  pkgs/halo2-eth-membership-worker/src/utils.ts
  pkgs/halo2-eth-membership-worker/src/worker.ts
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-wasm-ext/Cargo.toml
  pnpm-lock.yaml
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

fix: remove unneeded scripts
  pkgs/halo2-ecdsa/src/draft/mod.rs
  pkgs/halo2-ecdsa/src/gadget/efficient_ecdsa.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: bump lockfile
  pnpm-lock.yaml
Due: none

feat: create halo2 eth mbrship worker pkg (#456)
  pkgs/halo2-ecdsa/Cargo.toml
  pkgs/halo2-eth-membership-worker/README.md
  pkgs/halo2-eth-membership-worker/package.json
  pkgs/halo2-eth-membership-worker/src/index.ts
  pkgs/halo2-eth-membership-worker/src/interface.ts
  pkgs/halo2-eth-membership-worker/src/utils.ts
  pkgs/halo2-eth-membership-worker/src/worker.ts
  pkgs/halo2-eth-membership-worker/tsconfig.compile.json
  pkgs/halo2-eth-membership-worker/tsconfig.json
  pkgs/halo2-eth-membership/Cargo.toml
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/lib.rs
  pnpm-lock.yaml
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore: remove `eslint-disable` statements
  copy
  pkgs/halo2-eth-membership-worker/src/worker.ts
  pkgs/query/src/requests/EthBalanceAnonSetRequest.ts
  pkgs/spartan-ecdsa-worker/src/worker.ts
  ui/src/hooks/useMerkleTreeWorker.ts
  ui/src/hooks/useProofRequest.ts
  ui/src/hooks/useSetHelp.ts
  ui/src/hooks/useWorker.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

fix(halo2-worker): downgrade `viem` to `^1`
  pkgs/halo2-eth-membership-worker/package.json
  pnpm-lock.yaml
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix(halo2-worker): downgrade `viem` to `^1` (#490)
  pkgs/halo2-eth-membership-worker/package.json
  pnpm-lock.yaml
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: ignore release of halo2-eth-membership-worker
  .changeset/config.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: update version of halo2-eth-membership
  pkgs/halo2-eth-membership/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: add changeset
  .changeset/heavy-games-pretend.md
Due: none

chore: trigger publish of `halo2-eth-membership` (#491)
  .changeset/config.json
  .changeset/heavy-games-pretend.md
  pkgs/halo2-eth-membership/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: build all wasm packages
  package.json
  pnpm-lock.yaml
  turbo.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

remove eth membrship worker filter
  package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: update package.json
  pkgs/halo2-binary-merkle-tree/package.json
  pkgs/halo2-ecdsa/package.json
  pkgs/halo2-wasm-ext/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

refactor: add wasm-pack and rimraf deps
  package.json
  pkgs/halo2-eth-membership/package.json
  pkgs/merkle-tree-wasm/package.json
  pkgs/spartan-ecdsa-wasm/package.json
  pnpm-lock.yaml
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: update `.tool-versions`
  .tool-versions
Due: none

fix: build all wasm packages with `turbo` (#493)
  .tool-versions
  package.json
  pkgs/halo2-binary-merkle-tree/package.json
  pkgs/halo2-ecdsa/package.json
  pkgs/halo2-eth-membership/package.json
  pkgs/halo2-wasm-ext/package.json
  pkgs/merkle-tree-wasm/package.json
  pkgs/spartan-ecdsa-wasm/package.json
  pnpm-lock.yaml
  turbo.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

revert: build `halo2-binary-merkle-tree`
  .changeset/config.json
  pkgs/halo2-binary-merkle-tree/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: add changeset
  .changeset/serious-flowers-own.md
Due: none

revert: build `halo2-binary-merkle-tree` (#494)
  .changeset/config.json
  .changeset/serious-flowers-own.md
  pkgs/halo2-binary-merkle-tree/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

Update README.md
  README.md
Due: none

ci(release): install correct rust toolchain
  .github/workflows/release.yml
Due: none

ci(release): install correct rust toolchain (#496)
  .github/workflows/release.yml
Due: none

fix(halo2-binary-merkle-tree): import `JSValue` wasm bindgen
  pkgs/halo2-binary-merkle-tree/.cargo/config.toml
  pkgs/halo2-binary-merkle-tree/mock/test_inputs_example.json
  pkgs/halo2-binary-merkle-tree/src/binary_merkle_tree_2.rs
  pkgs/halo2-binary-merkle-tree/src/lib.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: add changeset
  .changeset/pink-brooms-share.md
Due: none

fix test mock file name
  pkgs/halo2-binary-merkle-tree/mock/test_inputs.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: rename test_inputs_example.json
  pkgs/halo2-binary-merkle-tree/mock/test_inputs_example.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: running tests
  Cargo.lock
  package.json
  pkgs/halo2-binary-merkle-tree/src/lib.rs
  pkgs/halo2-eth-membership/src/eth_membership.rs
  rust-toolchain
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: ignore node_modules for some rust crates
  pkgs/halo2-binary-merkle-tree/package.json
  pkgs/halo2-ecdsa/package.json
  pkgs/halo2-ecdsa/rust-toolchain
  pkgs/halo2-wasm-ext/package.json
  pkgs/halo2-wasm-ext/rust-toolchain
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

revert: get back lint.cargo as it was
  pkgs/halo2-ecdsa/package.json
  pkgs/halo2-wasm-ext/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

revert: package.json
  pkgs/halo2-binary-merkle-tree/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix(halo2-binary-merkle-tree): import `JSValue` wasm bindgen (#497)
  .changeset/pink-brooms-share.md
  Cargo.lock
  package.json
  pkgs/halo2-binary-merkle-tree/.cargo/config.toml
  pkgs/halo2-binary-merkle-tree/mock/test_inputs_example.json
  pkgs/halo2-binary-merkle-tree/src/binary_merkle_tree_2.rs
  pkgs/halo2-binary-merkle-tree/src/lib.rs
  pkgs/halo2-ecdsa/rust-toolchain
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-wasm-ext/rust-toolchain
  rust-toolchain
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

Path conditions:
  pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched: any of: **/*.{json,jsonc,js,jsx,rs,ts,tsx}
  pnpm fmt: any of: **/*.{json,jsonc,js,jsx,rs,ts,tsx}
  tsc-files --noEmit: any of: **/*.{ts,tsx}
