Repository anonklub/anonklub: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

.lintstagedrc.json:

{
  "**/*.{json,jsonc,js,jsx,rs,ts,tsx}": [
    "pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched",
    "pnpm fmt"
  ],
  "**/*.{ts,tsx}": "tsc-files --noEmit"
}

fix: remove not target cfg
  pkgs/halo2-wasm-ext/src/ext.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

ci: run coverage in test-rs job
  .github/workflows/main-staging.yml
  .github/workflows/test-coverage.yaml
  pkgs/spartan-ecdsa-wasm/src/utils.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

ci: upload to coveralls in separate job
  .github/workflows/main-staging.yml
Due: none

chore: format
  .github/workflows/main-staging.yml
Due: none

ci: alway run coverage job
  .github/workflows/main-staging.yml
Due: none

ci: always run `fmt` job
  .github/workflows/main-staging.yml
Due: none

ci: always run `deps` job
  .github/workflows/main-staging.yml
Due: none

test: update err message
  pkgs/cli/tests/query.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

ci: exclude halo2-secp256k1-wasm from tests
  .github/workflows/main-staging.yml
Due: none

ci: allow empty report file for coveralls
  .github/workflows/main-staging.yml
Due: none

ci: get dynamically list of coverage files
  .github/workflows/main-staging.yml
Due: none

ci: checkout in coveralls job
  .github/workflows/main-staging.yml
Due: none

ci: exclude halo2wrong-ecdsa from ci tests check
  .github/workflows/main-staging.yml
Due: none

chore: debug ci
  .github/workflows/main-staging.yml
Due: none

ci: update coveralls base path input
  .github/workflows/main-staging.yml
Due: none

ci: run test coverage in test-rs job (#455)
  .github/workflows/main-staging.yml
  .github/workflows/test-coverage.yaml
  pkgs/cli/tests/query.rs
  pkgs/spartan-ecdsa-wasm/src/utils.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: halo2-wasm-ext fixes
  Cargo.lock
  pkgs/halo2-binary-merkle-tree/src/lib.rs
  pkgs/halo2-eth-membership/Cargo.toml
  pkgs/halo2-eth-membership/scripts/run_native_tests.sh
  pkgs/halo2-eth-membership/scripts/run_wasm_tests.sh
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/lib.rs
  pkgs/halo2-wasm-ext/Cargo.toml
  pkgs/halo2-wasm-ext/src/ext.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: remove feature native test
  pkgs/halo2-eth-membership/src/eth_membership.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

feat: implementing halo2 eth membership worker
  pkgs/halo2-eth-membership-worker/README.md
  pkgs/halo2-eth-membership-worker/package.json
  pkgs/halo2-eth-membership-worker/src/index.ts
  pkgs/halo2-eth-membership-worker/src/interface.ts
  pkgs/halo2-eth-membership-worker/src/utils.ts
  pkgs/halo2-eth-membership-worker/src/worker.ts
  pkgs/halo2-eth-membership-worker/tsconfig.compile.json
  pkgs/halo2-eth-membership-worker/tsconfig.json
  pkgs/halo2-eth-membership/package.json
  pkgs/halo2-eth-membership/src/lib.rs
  pnpm-lock.yaml
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore: add verification_key.json
  apis/prove/generated/verification_key.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: wip running prover in client ui
  Cargo.lock
  pkgs/halo2-binary-merkle-tree-worker/src/index.ts
  pkgs/halo2-binary-merkle-tree-worker/src/interface.ts
  pkgs/halo2-binary-merkle-tree-worker/src/worker.ts
  pkgs/halo2-binary-merkle-tree/Cargo.toml
  pkgs/halo2-binary-merkle-tree/src/binary_merkle_tree.rs
  pkgs/halo2-binary-merkle-tree/src/binary_merkle_tree_2.rs
  pkgs/halo2-binary-merkle-tree/src/lib.rs
  pkgs/halo2-eth-membership-worker/src/interface.ts
  pkgs/halo2-eth-membership-worker/src/utils.ts
  pkgs/halo2-eth-membership-worker/src/worker.ts
  pkgs/halo2-eth-membership/Cargo.toml
  pkgs/halo2-eth-membership/build.rs
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/lib.rs
  pkgs/halo2-wasm-ext/Cargo.toml
  pkgs/halo2-wasm-ext/src/config.rs
  ui/next.config.mjs
  ui/src/hooks/useHalo2BinaryMerkleTree.ts
  ui/src/hooks/useProofRequest.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore: hide biome config file
  .biome.jsonc
  package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: update dprint and biome config
  .biome.jsonc
  .dprint.jsonc
  package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: replace lintstaged and husky by lefthook
  .biome.jsonc
  .dprint.jsonc
  .github/ISSUE_TEMPLATE/sweep-template.yml
  .github/workflows/deploy-discord-bot-prod.yml
  .github/workflows/deploy-discord-bot-staging.yml
  .github/workflows/deploy-query-api-prod.yml
  .github/workflows/deploy-query-api-staging.yml
  .github/workflows/deploy-ui-prod.yml
  .github/workflows/deploy-ui-staging.yml
  .github/workflows/issue-link.yml
  .github/workflows/main-staging.yml
  .github/workflows/release.yml
  .lefthook.yml
  .lintstagedrc.json
  Cargo.toml
  discord-bot/fly-prod.toml
  discord-bot/fly-staging.toml
  foundry.toml
  package.json
  pkgs/binary-merkle-tree-halo2/Cargo.toml
  pkgs/circuits/halo2-secp256k1-wasm/Cargo.toml
  pkgs/circuits/halo2wrong-ecdsa/Cargo.toml
  pkgs/cli/Cargo.toml
  pkgs/merkle-tree-wasm/Cargo.toml
  pkgs/spartan-ecdsa-wasm/Cargo.toml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  query-api/fly-prod.toml
  query-api/fly-staging.toml
  sweep.yaml
  ui/.eslintrc.yaml
  ui/fly-prod.toml
  ui/fly-staging.toml
  ui/src/globals.css
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: update knip config
  .knip.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore: cleanup config files in `ui`
  ui/.dockerignore
  ui/.eslintrc.yaml
  ui/.gitignore
  ui/.prettierrc.js
  ui/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: use dprint action in format workflow step
  .github/workflows/main-staging.yml
Due: none

chore: use `lefthook` to manage git hooks (#458)
  .biome.jsonc
  .dprint.jsonc
  .github/ISSUE_TEMPLATE/sweep-template.yml
  .github/workflows/deploy-discord-bot-prod.yml
  .github/workflows/deploy-discord-bot-staging.yml
  .github/workflows/deploy-query-api-prod.yml
  .github/workflows/deploy-query-api-staging.yml
  .github/workflows/deploy-ui-prod.yml
  .github/workflows/deploy-ui-staging.yml
  .github/workflows/issue-link.yml
  .github/workflows/main-staging.yml
  .github/workflows/release.yml
  .knip.ts
  .lefthook.yml
  .lintstagedrc.json
  Cargo.toml
  discord-bot/fly-prod.toml
  discord-bot/fly-staging.toml
  foundry.toml
  package.json
  pkgs/binary-merkle-tree-halo2/Cargo.toml
  pkgs/circuits/halo2-secp256k1-wasm/Cargo.toml
  pkgs/circuits/halo2wrong-ecdsa/Cargo.toml
  pkgs/cli/Cargo.toml
  pkgs/merkle-tree-wasm/Cargo.toml
  pkgs/spartan-ecdsa-wasm/Cargo.toml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  query-api/fly-prod.toml
  query-api/fly-staging.toml
  sweep.yaml
  ui/.dockerignore
  ui/.eslintrc.yaml
  ui/.gitignore
  ui/.prettierrc.js
  ui/fly-prod.toml
  ui/fly-staging.toml
  ui/package.json
  ui/src/globals.css
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

Update README.md
  README.md
Due: none

docs: update README.md (#459)
  README.md
Due: none

ci: fix discord-bot deploy
  discord-bot/Dockerfile
  discord-bot/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

ci: fix discord-bot deploy (#460)
  discord-bot/Dockerfile
  discord-bot/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: add target to dockerignore
  .dockerignore
Due: none

refactor discord bot dockerfile
  discord-bot/Dockerfile
  discord-bot/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: add url for discord bot environments
  .github/workflows/deploy-discord-bot-prod.yml
  .github/workflows/deploy-discord-bot-staging.yml
Due: none

ci: fix discord bot deployment (#461)
  .dockerignore
  .github/workflows/deploy-discord-bot-prod.yml
  .github/workflows/deploy-discord-bot-staging.yml
  discord-bot/Dockerfile
  discord-bot/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: remove unused code
  Cargo.lock
  pkgs/halo2-binary-merkle-tree/src/binary_merkle_tree.rs
  pkgs/halo2-binary-merkle-tree/src/lib.rs
  pkgs/halo2-ecdsa/src/gadget/efficient_ecdsa.rs
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/merkle-tree-wasm/src/lib.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: fmt + clippy
  pkgs/cli/bin/main.rs
  pkgs/halo2-ecdsa/src/circuits/mod.rs
  pkgs/halo2-eth-membership/src/eth_membership.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: remove useless comments
  pkgs/halo2-binary-merkle-tree/src/lib.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt
