Repository anonklub/anonklub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .prettierignore, eslint

.lintstagedrc.json:

{
  "**/*.{css,less,scss,html,graphql,json,js,jsx,md,ts,tsx,yml,yaml}": [
    "prettier --write --ignore-path .prettierignore"
  ],
  "**/*.{js,jsx,ts,tsx}": ["eslint"]
}

chore: format
  README.md
Due: prettier --write --ignore-path .prettierignore

ocs: update links in README
  README.md
Due: prettier --write --ignore-path .prettierignore

chore: update value of prod query-api url
  .env.example
  discord-bot/README.md
  discord-bot/src/commands/VerifyCommand.ts
  discord-bot/src/lib/config.ts
  pkgs/cli/Cargo.toml
  pkgs/cli/README.md
  pkgs/cli/src/query_client.rs
  pkgs/query/src/CONSTANTS.ts
  query-api/README.md
  query-api/src/index.ts
  ui/fly-prod.toml
  ui/src/lib/config.ts
Due: prettier --write --ignore-path .prettierignore, eslint

chore(ui): update docs link
  ui/src/components/ExternalLink.tsx
Due: prettier --write --ignore-path .prettierignore, eslint

feat: adding CI github actions for test coverage
  .github/workflows/coverage.yaml
  package.json
  pkgs/merkle-tree-wasm/src/merkle_tree_wasm.rs
Due: prettier --write --ignore-path .prettierignore

feat: adding inatalltion readme
  README.md
Due: prettier --write --ignore-path .prettierignore

fix: lint issues
  pkgs/merkle-tree-wasm/src/lib.rs
  pkgs/merkle-tree-wasm/src/merkle_tree_wasm.rs
  pnpm-lock.yaml
Due: prettier --write --ignore-path .prettierignore

fix: lint issues
  ui/src/components/SubmitProofRequest.tsx
  ui/src/hooks/useGoBackOnClickOutside.ts
  ui/src/hooks/useMerkleTreeWorker.ts
  ui/src/hooks/useProofRequest.ts
  ui/src/hooks/useWorker.ts
Due: prettier --write --ignore-path .prettierignore, eslint

fix: undo rust change
  pkgs/merkle-tree-wasm/src/lib.rs
Due: none

refactor: define `root` & `proof` `merkle` subcommands
  pkgs/cli/bin/main.rs
  pkgs/cli/bin/opts.rs
Due: none

fix akli `merkle proof` command test
  pkgs/cli/tests/merkle.rs
Due: none

refactor: extract merkle tree init/building in helper function
  pkgs/merkle-tree-wasm/src/lib.rs
Due: none

feat:test(akli): generate merkle root
  pkgs/cli/bin/main.rs
  pkgs/cli/tests/merkle.rs
Due: none

fix import in test
  pkgs/merkle-tree-wasm/src/merkle_tree_wasm.rs
Due: none

docs: udpate cli README:wq
  pkgs/cli/README.md
Due: prettier --write --ignore-path .prettierignore

chore: format
  pkgs/merkle-tree-wasm/src/merkle_tree_wasm.rs
Due: none

feat: start working on the wasm pkg for halo2 ecdsa
  Cargo.lock
  Cargo.toml
  pkgs/circuits/halo2-ecdsa/Cargo.toml
  pkgs/circuits/halo2-ecdsa/src/circuit.rs
  pkgs/circuits/halo2-ecdsa/src/ecdsa.rs
  pkgs/circuits/halo2-ecdsa/src/lib.rs
  pkgs/circuits/halo2-ecdsa/src/utils.rs
  pkgs/halo2-ecdsa-wasm/Cargo.toml
  pkgs/halo2-ecdsa-wasm/src/lib.rs
Due: none

fix typo
  pkgs/merkle-tree-wasm/src/lib.rs
Due: none

feat(akli): generate merkle root (#415)
  pkgs/cli/README.md
  pkgs/cli/bin/main.rs
  pkgs/cli/bin/opts.rs
  pkgs/cli/tests/merkle.rs
  pkgs/merkle-tree-wasm/src/lib.rs
  pkgs/merkle-tree-wasm/src/merkle_tree_wasm.rs
Due: prettier --write --ignore-path .prettierignore

refactor: define `hexlify` helper function
  pkgs/cli/bin/main.rs
  pkgs/cli/src/lib.rs
Due: none

chore: add "not implemented" prints for proof commands
  pkgs/cli/bin/main.rs
Due: none

refactor: handle errors with `anyhow`
  Cargo.lock
  pkgs/merkle-tree-wasm/Cargo.toml
  pkgs/merkle-tree-wasm/src/lib.rs
  pkgs/merkle-tree-wasm/src/merkle_tree_wasm.rs
Due: none

refactor: do not make `WIDTH` a generic param of MerkleTree
  pkgs/merkle-tree-wasm/src/lib.rs
  pkgs/merkle-tree-wasm/src/merkle_tree_wasm.rs
Due: none

chore: update test.cargo script
  package.json
  turbo.json
Due: prettier --write --ignore-path .prettierignore

fix wasm target compilation
  pkgs/merkle-tree-wasm/src/lib.rs
Due: none

chore: format
  pkgs/merkle-tree-wasm/src/lib.rs
Due: none

test: add more unit tests
  Cargo.lock
  pkgs/cli/Cargo.toml
  pkgs/merkle-tree-wasm/src/lib.rs
  pkgs/merkle-tree-wasm/src/merkle_tree_wasm.rs
Due: none

refactor: use `anyhow` to handle errors (#417)
  Cargo.lock
  package.json
  pkgs/cli/Cargo.toml
  pkgs/cli/bin/main.rs
  pkgs/cli/src/lib.rs
  pkgs/merkle-tree-wasm/Cargo.toml
  pkgs/merkle-tree-wasm/src/lib.rs
  pkgs/merkle-tree-wasm/src/merkle_tree_wasm.rs
  turbo.json
Due: prettier --write --ignore-path .prettierignore

feat: ecdsa wip
  pkgs/circuits/halo2-ecdsa/src/circuit.rs
  pkgs/circuits/halo2-ecdsa/src/utils.rs
Due: none

fix: resolving catch leaf is not found bug
  pkgs/spartan-ecdsa-worker/src/index.js
  pkgs/spartan-ecdsa-worker/src/interface.js
  pkgs/spartan-ecdsa-worker/src/utils.js
  pkgs/spartan-ecdsa-worker/src/worker.js
  ui/src/components/SubmitProofRequest.tsx
  ui/src/hooks/useProofRequest.ts
  ui/src/hooks/useStore.ts
  ui/src/store.ts
Due: prettier --write --ignore-path .prettierignore, eslint

fix: linter errors
  ui/src/components/SubmitProofRequest.tsx
  ui/src/hooks/useProofRequest.ts
  ui/src/hooks/useStore.ts
  ui/src/store.ts
Due: prettier --write --ignore-path .prettierignore, eslint

feat: enhancing the error message
  pkgs/merkle-tree-wasm/src/lib.rs
  pkgs/merkle-tree-wasm/src/merkle_tree_wasm.rs
Due: none

fix: remove wrong js compiles scripts
  pkgs/spartan-ecdsa-worker/src/index.js
  pkgs/spartan-ecdsa-worker/src/interface.js
  pkgs/spartan-ecdsa-worker/src/utils.js
  pkgs/spartan-ecdsa-worker/src/worker.js
Due: prettier --write --ignore-path .prettierignore, eslint

chore: rebase with main
  ui/src/components/SubmitProofRequest.tsx
  ui/src/hooks/useProofRequest.ts
Due: prettier --write --ignore-path .prettierignore, eslint

fix: lint issues
  pkgs/merkle-tree-wasm/src/lib.rs
  pkgs/merkle-tree-wasm/src/merkle_tree_wasm.rs
Due: none

refactor: display address in missing leaf error message (#384)
  pkgs/merkle-tree-wasm/src/lib.rs
  pkgs/merkle-tree-wasm/src/merkle_tree_wasm.rs
Due: none

feat: ecdsa wip
  .vscode/settings.json
  pkgs/circuits/halo2-ecdsa/src/utils.rs
Due: prettier --write --ignore-path .prettierignore

fix(merkle-tree): fix unit test
  pkgs/merkle-tree-wasm/src/merkle_tree_wasm.rs
Due: none

chore: rename to halo2wrong-ecdsa
  Cargo.toml
  pkgs/circuits/halo2-ecdsa/README.md
  pkgs/circuits/halo2wrong-ecdsa/Cargo.toml
  pkgs/circuits/halo2wrong-ecdsa/README.md
  pkgs/circuits/halo2wrong-ecdsa/src/circuit.rs
  pkgs/circuits/halo2wrong-ecdsa/src/ecdsa.rs
  pkgs/circuits/halo2wrong-ecdsa/src/lib.rs
Due: prettier --write --ignore-path .prettierignore

feat: implement ECDSA Halo2 Circuit (#403)
  .gitignore
  Cargo.lock
  Cargo.toml
  pkgs/circuits/halo2wrong-ecdsa/Cargo.toml
  pkgs/circuits/halo2wrong-ecdsa/README.md
  pkgs/circuits/halo2wrong-ecdsa/src/circuit.rs
  pkgs/circuits/halo2wrong-ecdsa/src/ecdsa.rs
  pkgs/circuits/halo2wrong-ecdsa/src/lib.rs
  pnpm-lock.yaml
Due: prettier --write --ignore-path .prettierignore
