Repository anonklub/anonklub: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

chore: trigger jest test
  .github/workflows/main-staging.yml
  query-api/src/index.ts
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt, tsc-files --noEmit

fix: eth membership halo2 circuit
  Cargo.lock
  pkgs/halo2-binary-merkle-tree/src/binary_merkle_tree.rs
  pkgs/halo2-binary-merkle-tree/src/gadget.rs
  pkgs/halo2-binary-merkle-tree/src/lib.rs
  pkgs/halo2-ecdsa/src/gadget/efficient_ecdsa.rs
  pkgs/halo2-eth-membership/Cargo.toml
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/lib.rs
  pkgs/halo2-eth-membership/src/utils/circuit.rs
  pkgs/halo2-eth-membership/src/utils/mod.rs
  pkgs/halo2-eth-membership/src/utils/prove.rs
  pkgs/halo2-eth-membership/src/utils/recovery.rs
  pkgs/halo2-eth-membership/src/utils/verify.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: eth membership halo2 circuit
  Cargo.lock
  pkgs/halo2-binary-merkle-tree/Cargo.toml
  pkgs/halo2-binary-merkle-tree/src/binary_merkle_tree.rs
  pkgs/halo2-binary-merkle-tree/src/gadget.rs
  pkgs/halo2-binary-merkle-tree/src/lib.rs
  pkgs/halo2-ecdsa/src/circuits/efficient_ecdsa.rs
  pkgs/halo2-ecdsa/src/gadget/mod.rs
  pkgs/halo2-ecdsa/src/lib.rs
  pkgs/halo2-eth-membership/Cargo.toml
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/lib.rs
  pkgs/halo2-eth-membership/src/utils/circuit.rs
  pkgs/halo2-eth-membership/src/utils/consts.rs
  pkgs/halo2-wasm-ext/src/lib.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: eth membership halo2 circuit
  Cargo.lock
  pkgs/halo2-binary-merkle-tree/src/binary_merkle_tree.rs
  pkgs/halo2-binary-merkle-tree/src/consts.rs
  pkgs/halo2-binary-merkle-tree/src/lib.rs
  pkgs/halo2-ecdsa/Cargo.toml
  pkgs/halo2-ecdsa/src/gadget/efficient_ecdsa.rs
  pkgs/halo2-ecdsa/src/gadget/mod.rs
  pkgs/halo2-eth-membership/Cargo.toml
  pkgs/halo2-eth-membership/configs/eth_membership.config
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/lib.rs
  pkgs/halo2-eth-membership/src/utils/circuit.rs
  pkgs/halo2-eth-membership/src/utils/consts.rs
  pkgs/halo2-wasm-ext/Cargo.toml
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: eth membership halo2 circuit
  pkgs/halo2-binary-merkle-tree/package.json
  pkgs/halo2-binary-merkle-tree/src/binary_merkle_tree.rs
  pkgs/halo2-binary-merkle-tree/src/binary_merkle_tree_2.rs
  pkgs/halo2-binary-merkle-tree/src/gadget.rs
  pkgs/halo2-binary-merkle-tree/src/lib.rs
  pkgs/halo2-ecdsa/package.json
  pkgs/halo2-ecdsa/src/circuits/efficient_ecdsa.rs
  pkgs/halo2-eth-membership/Cargo.toml
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/lib.rs
  pkgs/halo2-eth-membership/src/utils/circuit.rs
  pkgs/halo2-eth-membership/src/utils/prove.rs
  pkgs/halo2-wasm-ext/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: use checkout action in fmt job
  .github/workflows/main-staging.yml
Due: none

fix: use checkout action in test-node job
  .github/workflows/main-staging.yml
Due: none

ci: fix cache-hit check
  .github/workflows/main-staging.yml
Due: none

ci: use actions/cache/restore
  .github/workflows/main-staging.yml
Due: none

ci: update node/pnpm cache path
  .github/workflows/main-staging.yml
Due: none

ci: install rustfmt component
  .github/workflows/main-staging.yml
Due: none

ci: hoist shamefully deps
  .github/workflows/main-staging.yml
Due: none

ci: do not use cache of `deps`job for test-node job
  .github/workflows/main-staging.yml
Due: none

ci: optimize test workflow (#448)
  .github/workflows/main-staging.yml
  .github/workflows/static-analysis.yml
  .github/workflows/test.yml
  .lintstagedrc.json
  package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix(contracts): define remappings
  foundry.toml
Due: none

chore: trigger ci
  contracts/src/Verifier.sol
Due: none

ci: fix output name
  .github/workflows/main-staging.yml
Due: none

chore: trigger ci
  pkgs/merkle-tree-wasm/src/merkle_tree_wasm.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

feat: creating halo2-eth-memebership pkg and halo2-wasm-ext pkg
  Cargo.lock
  pkgs/halo2-binary-merkle-tree/src/binary_merkle_tree_2.rs
  pkgs/halo2-binary-merkle-tree/src/lib.rs
  pkgs/halo2-ecdsa/src/gadget/mod.rs
  pkgs/halo2-eth-membership/Cargo.toml
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/lib.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: eth membership halo2 circuit
  pkgs/halo2-eth-membership/src/utils/mod.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: do use biome or turbo for fmt script
  package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

feat: binary merkle tree halo2 wasm lib
  pkgs/binary-merkle-tree-halo2/src/binary_merkle_tree.rs
  pkgs/binary-merkle-tree-halo2/src/consts.rs
  pkgs/binary-merkle-tree-halo2/src/lib.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

feat: (wip) binary merkle tree wasm lib
  Cargo.lock
  Cargo.toml
  pkgs/binary-merkle-tree-halo2/Cargo.toml
  pkgs/binary-merkle-tree-halo2/README.md
  pkgs/binary-merkle-tree-halo2/package.json
  pkgs/binary-merkle-tree-halo2/src/binary_merkle_tree.rs
  pkgs/binary-merkle-tree-halo2/src/lib.rs
  pkgs/merkle-tree-halo2/src/consts.rs
  pkgs/merkle-tree-halo2/src/lib.rs
  pkgs/merkle-tree-wasm/src/merkle_tree_wasm.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

feat: (wip) impl merkle tree halo2
  Cargo.lock
  Cargo.toml
  pkgs/merkle-tree-halo2/Cargo.toml
  pkgs/merkle-tree-halo2/src/consts.rs
  pkgs/merkle-tree-halo2/src/lib.rs
  pkgs/merkle-tree-halo2/src/merkle_tree.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

feat: merkle tree halo2 chip fn
  pkgs/binary-merkle-tree-halo2/src/chip.rs
  pkgs/binary-merkle-tree-halo2/src/lib.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: rename variables in the verify chip
  pkgs/binary-merkle-tree-halo2/src/chip.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: renaming gedget and fixing linting
  pkgs/binary-merkle-tree-halo2/src/binary_merkle_tree.rs
  pkgs/binary-merkle-tree-halo2/src/gadget.rs
  pkgs/binary-merkle-tree-halo2/src/lib.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: lint issue
  pkgs/merkle-tree-wasm/src/merkle_tree_wasm.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: format
  pkgs/binary-merkle-tree-halo2/package.json
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

feat: implement Binary Merkle Tree Halo2 Gadget (#442)
  Cargo.lock
  Cargo.toml
  pkgs/binary-merkle-tree-halo2/Cargo.toml
  pkgs/binary-merkle-tree-halo2/README.md
  pkgs/binary-merkle-tree-halo2/package.json
  pkgs/binary-merkle-tree-halo2/src/binary_merkle_tree.rs
  pkgs/binary-merkle-tree-halo2/src/consts.rs
  pkgs/binary-merkle-tree-halo2/src/gadget.rs
  pkgs/binary-merkle-tree-halo2/src/lib.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

chore: move `rust-toolchain` to root
  rust-toolchain
Due: none

fix: trying to build wasm pkg
  Cargo.lock
  pkgs/cli/Cargo.toml
  pkgs/halo2-binary-merkle-tree/Cargo.toml
  pkgs/halo2-ecdsa/Cargo.toml
  pkgs/halo2-eth-membership/Cargo.toml
  pkgs/halo2-eth-membership/package.json
  pkgs/halo2-wasm-ext/Cargo.toml
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

fix: add config.toml for eth membership crate
  pkgs/halo2-eth-membership/.cargo/config.toml
Due: none

fix
  pkgs/halo2-binary-merkle-tree/src/lib.rs
  pkgs/halo2-wasm-ext/src/ext.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

test: fix cli tests error message casing
  pkgs/cli/tests/query.rs
Due: pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched, pnpm fmt

Path conditions:
  pnpm biome lint --apply --vcs-use-ignore-file=true --files-ignore-unknown=true --no-errors-on-unmatched: any of: **/*.{json,jsonc,js,jsx,rs,ts,tsx}
  pnpm fmt: any of: **/*.{json,jsonc,js,jsx,rs,ts,tsx}
  tsc-files --noEmit: any of: **/*.{ts,tsx}
