Repository anonklub/anonklub: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm biome lint --apply, pnpm biome format --write, rustfmt, tsc-files --noEmit

.lintstagedrc.json:

{
	"**/*.{json,jsonc,js,jsx,ts,tsx}": [
		"pnpm biome lint --apply",
		"pnpm biome format --write"
	],
	"**/*.rs": "rustfmt",
	"**/*.{ts,tsx}": "tsc-files --noEmit"
}

feat: verify halo2 proof successfully
  pkgs/circuits/halo2-secp256k1-wasm/src/consts.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/eff_ecdsa.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/halo2_ext.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/lib.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/utils.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/wasm.rs
Due: rustfmt

fix: trying to have the same Y point in T and U
  pkgs/circuits/halo2-secp256k1-wasm/src/consts.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/eff_ecdsa.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/halo2_ext.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/utils.rs
Due: rustfmt

fix: wip in fixing reading public inputs
  pkgs/circuits/halo2-secp256k1-wasm/src/eff_ecdsa.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/lib.rs
Due: rustfmt

feat: finish verifying eff ecdsa off-chain
  pkgs/circuits/halo2-secp256k1-wasm/src/consts.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/eff_ecdsa.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/halo2_ext.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/lib.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/utils.rs
Due: rustfmt

chore: optimize serialize instances
  pkgs/circuits/halo2-secp256k1-wasm/src/halo2_ext.rs
Due: rustfmt

feat(halo2): verify efficiently ECDSA sig + wasm (#437)
  Cargo.lock
  pkgs/circuits/halo2-secp256k1-wasm/Cargo.toml
  pkgs/circuits/halo2-secp256k1-wasm/configs/ecdsa.config
  pkgs/circuits/halo2-secp256k1-wasm/src/consts.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/ecdsa.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/eff_ecdsa.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/halo2_ext.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/lib.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/recovery.rs
  pkgs/circuits/halo2-secp256k1-wasm/src/utils.rs
  pkgs/cli/Cargo.toml
Due: rustfmt

Update README.md
  README.md
Due: none

feat: (wip) impl merkle tree halo2
  Cargo.lock
  Cargo.toml
  pkgs/merkle-tree-halo2/Cargo.toml
  pkgs/merkle-tree-halo2/src/consts.rs
  pkgs/merkle-tree-halo2/src/lib.rs
  pkgs/merkle-tree-halo2/src/merkle_tree.rs
Due: rustfmt

feat: (wip) binary merkle tree wasm lib
  Cargo.lock
  Cargo.toml
  pkgs/binary-merkle-tree-halo2/Cargo.toml
  pkgs/binary-merkle-tree-halo2/README.md
  pkgs/binary-merkle-tree-halo2/package.json
  pkgs/binary-merkle-tree-halo2/src/binary_merkle_tree.rs
  pkgs/binary-merkle-tree-halo2/src/lib.rs
  pkgs/merkle-tree-halo2/src/consts.rs
  pkgs/merkle-tree-halo2/src/lib.rs
  pkgs/merkle-tree-wasm/src/merkle_tree_wasm.rs
Due: pnpm biome lint --apply, pnpm biome format --write, rustfmt

feat: binary merkle tree halo2 wasm lib
  pkgs/binary-merkle-tree-halo2/src/binary_merkle_tree.rs
  pkgs/binary-merkle-tree-halo2/src/consts.rs
  pkgs/binary-merkle-tree-halo2/src/lib.rs
Due: rustfmt

fix: lint issue
  pkgs/merkle-tree-wasm/src/merkle_tree_wasm.rs
Due: rustfmt

feat: merkle tree halo2 chip fn
  pkgs/binary-merkle-tree-halo2/src/chip.rs
  pkgs/binary-merkle-tree-halo2/src/lib.rs
Due: rustfmt

fix: rename variables in the verify chip
  pkgs/binary-merkle-tree-halo2/src/chip.rs
Due: rustfmt

fix: renaming gedget and fixing linting
  pkgs/binary-merkle-tree-halo2/src/binary_merkle_tree.rs
  pkgs/binary-merkle-tree-halo2/src/gadget.rs
  pkgs/binary-merkle-tree-halo2/src/lib.rs
Due: rustfmt

feat: restructure the whole halo2 pkgs file structure
  Cargo.lock
  Cargo.toml
  pkgs/binary-merkle-tree-halo2/README.md
  pkgs/circuits/halo2-secp256k1-wasm/src/utils.rs
  pkgs/halo2-binary-merkle-tree/Cargo.toml
  pkgs/halo2-binary-merkle-tree/README.md
  pkgs/halo2-binary-merkle-tree/package.json
  pkgs/halo2-binary-merkle-tree/src/binary_merkle_tree.rs
  pkgs/halo2-binary-merkle-tree/src/consts.rs
  pkgs/halo2-binary-merkle-tree/src/gadget.rs
  pkgs/halo2-binary-merkle-tree/src/lib.rs
  pkgs/halo2-ecdsa/Cargo.toml
  pkgs/halo2-ecdsa/README.md
  pkgs/halo2-ecdsa/configs/ecdsa.config
  pkgs/halo2-ecdsa/package.json
  pkgs/halo2-ecdsa/rust-toolchain
  pkgs/halo2-ecdsa/src/circuits/ecdsa.rs
  pkgs/halo2-ecdsa/src/circuits/efficient_ecdsa.rs
  pkgs/halo2-ecdsa/src/circuits/mod.rs
  pkgs/halo2-ecdsa/src/draft/mod.rs
  pkgs/halo2-ecdsa/src/lib.rs
  pkgs/halo2-ecdsa/src/utils/consts.rs
  pkgs/halo2-ecdsa/src/utils/halo2_ext.rs
  pkgs/halo2-ecdsa/src/utils/halo2_utils.rs
  pkgs/halo2-ecdsa/src/utils/mod.rs
  pkgs/halo2-ecdsa/src/utils/prove.rs
  pkgs/halo2-ecdsa/src/utils/recovery.rs
  pkgs/halo2-ecdsa/src/utils/verify.rs
  pkgs/halo2wrong-ecdsa/Cargo.toml
  pkgs/halo2wrong-ecdsa/README.md
  pkgs/halo2wrong-ecdsa/src/circuit.rs
  pkgs/halo2wrong-ecdsa/src/ecdsa.rs
  pkgs/halo2wrong-ecdsa/src/lib.rs
Due: pnpm biome lint --apply, pnpm biome format --write, rustfmt

feat: creating halo2-eth-memebership pkg and halo2-wasm-ext pkg
  Cargo.lock
  Cargo.toml
  pkgs/halo2-ecdsa/src/gadget/efficient_ecdsa.rs
  pkgs/halo2-ecdsa/src/gadget/mod.rs
  pkgs/halo2-ecdsa/src/lib.rs
  pkgs/halo2-ecdsa/src/utils/halo2_utils.rs
  pkgs/halo2-ecdsa/src/utils/mod.rs
  pkgs/halo2-eth-membership/Cargo.toml
  pkgs/halo2-eth-membership/README.md
  pkgs/halo2-eth-membership/package.json
  pkgs/halo2-eth-membership/rust-toolchain
  pkgs/halo2-eth-membership/src/eth_membership.rs
  pkgs/halo2-eth-membership/src/lib.rs
  pkgs/halo2-eth-membership/src/utils/consts.rs
  pkgs/halo2-eth-membership/src/utils/mod.rs
  pkgs/halo2-eth-membership/src/utils/recovery.rs
  pkgs/halo2-eth-membership/src/utils/verify.rs
  pkgs/halo2-wasm-ext/Cargo.toml
  pkgs/halo2-wasm-ext/README.md
  pkgs/halo2-wasm-ext/package.json
  pkgs/halo2-wasm-ext/rust-toolchain
  pkgs/halo2-wasm-ext/src/config.rs
  pkgs/halo2-wasm-ext/src/ext.rs
  pkgs/halo2-wasm-ext/src/instances.rs
  pkgs/halo2-wasm-ext/src/lib.rs
  pkgs/halo2-wasm-ext/src/params.rs
  pkgs/halo2-wasm-ext/src/prove.rs
  pkgs/halo2-wasm-ext/src/utils.rs
  pkgs/halo2-wasm-ext/src/verify.rs
Due: pnpm biome lint --apply, pnpm biome format --write, rustfmt

feat: creating halo2-wasm-ext pkg
  pkgs/halo2-wasm-ext/src/config.rs
  pkgs/halo2-wasm-ext/src/consts.rs
  pkgs/halo2-wasm-ext/src/ext.rs
  pkgs/halo2-wasm-ext/src/lib.rs
  pkgs/halo2-wasm-ext/src/params.rs
  pkgs/halo2-wasm-ext/src/prove.rs
  pkgs/halo2-wasm-ext/src/utils.rs
  pkgs/halo2-wasm-ext/src/verify.rs
Due: rustfmt

fix: fixing halo2-ecdsa pkg
  Cargo.lock
  pkgs/halo2-ecdsa/src/circuits/efficient_ecdsa.rs
  pkgs/halo2-ecdsa/src/gadget/efficient_ecdsa.rs
  pkgs/halo2-ecdsa/src/utils/consts.rs
  pkgs/halo2-ecdsa/src/utils/mod.rs
  pkgs/halo2-ecdsa/src/utils/recovery.rs
  pkgs/halo2-ecdsa/src/utils/verify.rs
  pkgs/halo2-wasm-ext/src/ext.rs
  pkgs/halo2-wasm-ext/src/lib.rs
  pkgs/halo2-wasm-ext/src/utils.rs
Due: rustfmt

chore: update `tool-versions` and lock file
  .tool-versions
  pnpm-lock.yaml
Due: none

ci: bump actions versions
  .github/workflows/static-analysis.yml
Due: none

chore: bump node version
  .github/workflows/static-analysis.yml
  .tool-versions
Due: none

chore: exclude contracts/lib from fmt, update lintstaged cmd
  .dprint.jsonc
  .lintstagedrc.json
Due: pnpm biome lint --apply, pnpm biome format --write

ci: update node/pnpm versions
  .github/workflows/static-analysis.yml
  pnpm-lock.yaml
Due: none

ci: update actions versions in test workflow
  .github/workflows/test.yml
Due: none

refactor gh workflows
  .github/workflows/static-analysis.yml
  .github/workflows/test.yml
Due: none

refactor GH worfklows (#447)
  .github/workflows/static-analysis.yml
  .github/workflows/test.yml
Due: none

fix: bump Cargo.lock
  .tool-versions
  Cargo.lock
  pkgs/cli/Cargo.lock
Due: none

ci: optimize test workflow
  .github/workflows/test.yml
Due: none

ci: merge test with static-analsysi workflow
  .github/workflows/main.yml
  .github/workflows/static-analysis.yml
  .lintstagedrc.json
  package.json
Due: pnpm biome lint --apply, pnpm biome format --write

chore: rename workflow file
  .github/workflows/main-staging.yml
Due: none

ci: fix typo
  .github/workflows/main-staging.yml
Due: none

ci: fix
  .github/workflows/main-staging.yml
Due: none

ci: exclude ui from jts modified files
  .github/workflows/main-staging.yml
Due: none

fix(ci): add changed-files step id
  .github/workflows/main-staging.yml
Due: none

ci: fix node & pnpm versions
  .github/workflows/main-staging.yml
Due: none

ci: fix node action input name
  .github/workflows/main-staging.yml
Due: none
